:root {
    /* Card colors */
    --clr-bright-orange: hsl(31, 77%, 52%);
    --clr-dark-cyan-md: hsl(184, 100%, 22%);
    --clr-dark-cyan-lg: hsl(179, 100%, 13%);
    --clr-transparent-white: hsla(0, 0%, 100%, 0.75);
    --clr-light-gray: hsl(0, 0%, 95%);
    
    --fnt-size-sm: 0.9375rem;
    /* Fonts */
    --fnt-fml-serif: 'Lexend Deca', sans-serif;
    --fnt-fml-display: 'Big Shoulders Display', cursive;
}

::selection {
    color: rgb(63, 126, 209);
    background: rgb(63, 126, 209);;
}

*,
*::berfore,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img {
    height: auto;
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-style: var(--fnt-fml-serif);
}

.row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col {
    width: 100%;
}

.card-container {
    margin: 5rem auto;
    width: min(250px, 70%);
    /* max-width: 70%; */
}

.card:first-of-type {
    border-radius: 10px 10px 0 0;
}

.card:last-of-type {
    border-radius: 0 0 10px 10px;
}

.card {
    /* border: 1px solid red; */
    padding: 0 2rem;
}

.card--orange {
    background: var(--clr-bright-orange);
}

.card--cyan-md {
    background: var(--clr-dark-cyan-md);
}

.card--cyan-lg {
    background: var(--clr-dark-cyan-lg);
}

.card__logo {
    margin: 2rem 0;
}

.card__text {
    color: var(--clr-transparent-white);
}

.card__heading {
    font-family: var(--fnt-fml-display);
    font-size: 2.5rem;
    margin: 0;
    color: var(--clr-light-gray);
    text-transform: uppercase;
}

.card__info {
    line-height: 1.5;
    letter-spacing: 1px;
    max-width: 30ch;
    margin-bottom: 1.75rem;
}

.card__btn {
    font-family: var(--fnt-fml-serif);
    display: inline-block;
    padding: 1em 1.5em;
    border-radius: 32px;
    letter-spacing: 1px;   
    text-decoration: none;
    margin-bottom: 3rem;
}

.card__btn--orange {
    background: var(--clr-light-gray);
    color: var(--clr-bright-orange); 
}

.card__btn--cyan-md {
    background: var(--clr-light-gray);
    color: var(--clr-dark-cyan-md); 
}

.card__btn--cyan-lg {   
    background: var(--clr-light-gray);
    color: var(--clr-dark-cyan-lg); 
}


.card__btn--orange:hover {
    box-shadow: inset 0 0 0 1px var(--clr-light-gray);
    background: var(--clr-bright-orange);
    color: var(--clr-light-gray);
}

.card__btn--cyan-md:hover {
    box-shadow: inset 0 0 0 1px var(--clr-light-gray);
    color: var(--clr-light-gray);
    background-color: var(--clr-dark-cyan-md); 
}

.card__btn--cyan-lg:hover {
    box-shadow: inset 0 0 0 1px var(--clr-light-gray);
    color: var(--clr-light-gray);
    background-color: var(--clr-dark-cyan-lg); 
}

@media (min-width: 600px) {
    .card-container {
        width: min(250px, 70%);
    }
}

@media (min-width: 800px) {
    .card-container {
        width: min(900px, 70%);
    }

    .card {
        /* height: 70vh; */
    }

    .card:first-of-type {
        border-radius: 10px 0 0 10px;
    }

    .card:last-of-type {
        border-radius: 0 10px 10px 0;
    }

    .row {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .col {
        width: 100%; 
    }

    .card__logo {
        margin: 3rem 0;
    }

    .card__info {
        margin-bottom: 5rem;
    }
}
