header {
  --size: 1.2rem;
  display: flex;
  flex-direction: column;

  color: var(--clr-neutral-text-100);

  .info {
    position: relative;

    .title {
      color: var(--clr-neutral-text-200);
      font-size: var(--fz-title);
      margin-bottom: 0.2em;
    }

    .text {
      margin-bottom: var(--size);
    }

    ::after {
      content: "";
      position: absolute;
      display: block;
      bottom: calc(-1 * var(--size));
      left: 0;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: var(--clr-neutral-text-100);
    }
  }

  .toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(var(--size) * 2);

    &__mode {
    }

    &__input {
    }
  }

  @media (min-width: 700px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .toggle {
      margin-top: 0;
    }

    .info {
      .text {
        margin-top: 0.75em;
      }

      ::after {
        display: none;
      }
    }
  }
}
