.is-hidden {
  display: none;
}

.nav--closed {
  display: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section--heading {
  text-align: center;
  font-weight: var(--fw-400);
  font-size: 2.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.article-list-container {
  background: var(--clr-neutral-50);
}