:root {
  /* Colors */
  --clr-primary-blue: hsl(233, 26%, 24%);
  --clr-primary-green: hsl(136, 65%, 51%);
  --clr-primary-cyan: hsl(192, 70%, 51%);

  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-25: hsl(0, 0%, 98%);
  --clr-neutral-50: hsl(220, 16%, 96%);
  --clr-neutral-100: hsl(233, 8%, 62%);
  /* Font settings */
  --fz: 1.125rem;

  --ff: 'Public Sans', sans-serif;

  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}
