:root {
  // Colors
  --clr-primary-dark: 256 26% 20%;
  --clr-primary-blue: 216 30% 68%;

  --clr-neutral-dark: 270 9% 17%;
  --clr-neutral-gray: 273 4% 51%;
  --clr-neutral-light: 0 0% 98%;
  // Font sizes
  --fz: 1rem;

  --ff-headings: "DM Serif Display", serif;
  --ff-primary: "Karla", sans-serif;
}
