*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select,
a {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--ff-alata);
  font-size: var(--fz);
  line-height: 1.5;

  background: top url('../images/mobile/image-hero.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}
