*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.site-logo {
  font-weight: 900;
  font-size: 0.8rem;
  color: var(--text);
  text-decoration: none;
}

header {
  --text: #f4f4f4;
  --text-inverse: #333;
  --background: transparent;
  --background: rgb(110, 110, 180);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 3em;

  background: var(--background);
  color: var(--text);
}

section {
  height: 100vh;
}

.main-nav {
}

.nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
}

.nav__link {
  --spacing: 1em;
  position: relative;
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: calc(var(--spacing) / 2) var(--spacing);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9rem;
}

.nav__link :after {
  content: '';
  position: absolute;

  bottom: 0;
  left: 0;
  right: 0;

  margin: 0 auto;
  height: 2px;
  width: 0%;
  background-color: red;
  transition: width 300ms ease-in;
}

.nav__item:hover .nav__link::after{
  width: 85%;
}

.accounts {
}

.home-intro {
  /* margin-top: 900px; */
  min-height: 100vh;
  display: grid;
  place-items: center;

  background: #123 url(//unsplash.it/900);
  background-size: cover;

  color: white;
  text-align: center;

  background-blend-mode: multiply;
  /* background-blend-mode: luminosity; */
}

.nav-scrolled {
  background-color: red;
}

.fade-in {
  /* opacity: 0;
  transition: opacity 250ms ease-in; */

  /* transform: translateX(-100%);
  transition: transform 400ms ease-in; */

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 500ms ease-in;
}

.fade-in.appear {
  /* opacity: 1; */
  
  /* transform: translateX(0); */

  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
