
:root {
/* Colors */
    /* Primary */
    --clr-primary-cyan: hsl(180, 62%, 55%);
    --clr-primary-red: hsl(0, 78%, 62%);
    --clr-primary-orange: hsl(34, 97%, 64%);
    --clr-primary-blue: hsl(212, 86%, 64%);
    /* Neutral */
    --clr-neutral-blue-100: hsl(229, 6%, 66%);
    --clr-neutral-blue-200: hsl(234, 12%, 34%);
    --clr-neutral-gray: hsl(0, 0%, 98%);
/* Font family */
    --ff-serif: 'Poppins', sans-serif;
/* Font Weights */
    --fw-200: 200;
    --fw-400: 400;
    --fw-700: 700;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

img {
    max-width: 100%;
}

.card--cyan {
    border-top: 4px solid var(--clr-primary-cyan);
}

.card--red {
    border-top: 4px solid var(--clr-primary-red);
}

.card--orange {
    border-top: 4px solid var(--clr-primary-orange);
}

.card--blue {
    border-top: 4px solid var(--clr-primary-blue);
}


.container {
    margin: 0 auto;
    width: 80%;
}

body {
    font-weight: var(--fw-200);
    font-family: var(--ff-serif);
    font-size: 0.9375rem;
    margin: min(20%, 5rem) 0;
}

.header {
    margin-bottom: 2rem;
}

.header__main-heading {
    font-size: 1.5rem;
    color: var(--clr-neutral-blue-200);
    font-weight: var(--fw-200);
    line-height: 1;
}

.header__sub-heading {
    color: var(--clr-neutral-blue-200);
    font-size: 1.5rem;
    margin-top: .6em;
    margin-bottom: 1em;
    line-height: 1;
}

.header__text {
    color: var(--clr-neutral-blue-100);
    font-weight: var(--fw-400);
    text-align: center;
}

.main {
    display: grid;
    justify-content: center;
    align-items: center;
}

.card {
    --offset: 7px;
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    padding: 1.5rem 2rem;
    padding: 1.5em 2em;
    border-radius: 5px;
    box-shadow: var(--offset) 0 15px -20px #333,  /* right */  
                0 var(--offset) 20px -18px #333,  /* bottom */
                calc(var(--offset) * -1) 0 15px -20px #333;
}

.card__heading {
    font-weight: 700;
    margin-bottom: .4em;
}

.card__text {
    color: var(--clr-neutral-blue-200);
    margin-bottom: 2em;
}

.card__img {
    align-self: flex-end;
}

@media (min-width: 950px) {

    body {
        font-size: 1.55rem;
        min-height: 100vh;
    }

    .container {
        display: grid;
        justify-content: center;
    }

    .main {
        gap: 5rem;
        /* grid-auto-flow: dense; */
        grid-template-columns: repeat(auto-fill, max(350px, 1fr));
        grid-template-rows: repeat(auto-fill, 1fr);
    }    

    .card {
        /* height: 300px; */
        margin: 0;
        /* display: none; */
        justify-self: center;
    }

    .card:nth-child(1) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 2;
    }

    .card:nth-child(2) {
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }

    .card:nth-child(3) {
        grid-column: 3 / span 1;
        grid-row: 2 / span 2;
        /* justify-self: left; */
    }

    .card:nth-child(4) {
        grid-column: 2 / span 1;
        grid-row: 3 / span 2;
    }
}