:root {
/* Colors */
    /* Primary */
    --clr-primary-cyan: hsl(185, 75%, 39%);
    --clr-primary-dark: hsl(229, 23%, 23%);
    --clr-primary-grayish_blue: hsl(227, 10%, 46%);
    /* Neutral */
    --clr-neutral-dark_graysh: hsl(0, 0%, 59%);

/* Font family */
    --ff-serif: 'Kumbh Sans', sans-serif;

/* Font sizes */
    --font-size: 18px;

/* Font weights */
    --fw-md: 400;
    --fw-lg: 700;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    background-color: var(--clr-primary-cyan);
    background: right 51vw bottom 20vh /100% url("../images/bg-pattern-top.svg") no-repeat, 
                left 45vw top 50vh / 100% url("../images/bg-pattern-bottom.svg") no-repeat,
                hsl(185, 75%, 39%);
    
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
    
    font-family: var(--ff-serif);
    font-size: var(--font-size);
    font-weight: var(--fw-md);
}

.card {
    background: white;
    width: min(300px, 600px);
    background-image: url("../images/bg-pattern-card.svg");
    background-repeat: repeat-x;
    background-size: 85%;
    border-radius: 10px;
}

.card__img {
    display: block;
    margin: 3rem auto 1rem auto;
    border: 5px solid white;
    border-radius: 50%;
    background-image: url("../images/bg-pattern-card.svg");
}

.card__profile {
    font-weight: var(--fw-md);
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

.card__name {
    color: var(--clr-primary-dark);
    font-weight: var(--fw-lg);
    margin-top: 1rem;
}

.card__age {
    font-weight: var(--fw-md);
    color: var(--clr-neutral-dark_graysh);
}

.card__location {
    font-weight: var(--fw-md);
    margin: .75em auto 1.5em auto;
}

.card__stats {
    text-align: center;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.card__stat-heading {
    font-weight: var(--fw-lg);
}

.card__stat-info {
    font-weight: var(--fw-md);
    color: var(--clr-primary-grayish_blue);
}

.card__stats::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 1px;
    background-color: var(--clr-neutral-dark_graysh);
}

.card__stat-heading {
    margin-top: 2rem;
    margin-bottom: .5em;
    color: var(--clr-primary-dark);
}

.card__stat-info {
    font-size: .75em;
    margin-bottom: 2rem;
}
