:root {
  /* Colors */
  --clr-primary-blue: hsl(233, 26%, 24%);
  --clr-primary-green: hsl(136, 65%, 51%);
  --clr-primary-cyan: hsl(192, 70%, 51%);
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-25: hsl(0, 0%, 98%);
  --clr-neutral-50: hsl(220, 16%, 96%);
  --clr-neutral-100: hsl(233, 8%, 62%);
  /* Font settings */
  --fz: 1.125rem;
  --ff: "Public Sans", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

p {
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul[class] {
  list-style: none;
}

body {
  font-family: var(--ff);
  font-size: var(--fz);
  color: var(--clr-primary-blue);
}

.is-hidden {
  display: none;
}

.nav--closed {
  display: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section--heading {
  text-align: center;
  font-weight: var(--fw-400);
  font-size: 2.2rem;
}
@media (min-width: 550px) {
  .section--heading {
    text-align: left;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 3rem;
}

.article-list-container {
  background: var(--clr-neutral-50);
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 0.75em 1.75em;
  background: linear-gradient(90deg, var(--clr-primary-green), var(--clr-primary-cyan));
  color: var(--clr-neutral-25);
  font-weight: var(--fw-700);
}
.btn:hover {
  opacity: 0.5;
}

header {
  position: relative;
  z-index: 2;
  width: 85%;
  margin: 1.5rem auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 500px) {
  header .menu-control {
    display: none;
  }
}
@media (min-width: 1000px) {
  header .btn.is-hidden {
    justify-self: center;
    display: block;
  }
}

.nav {
  position: absolute;
  margin-top: 4rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background: white;
  border-radius: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
.nav__list {
  padding: 0;
}
.nav__item {
  text-align: center;
  padding: 0.6em 1em;
}
.nav__link {
  position: relative;
  color: var(--clr-primary-blue);
  font-weight: var(--fw-400);
  text-decoration: none;
}
.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  width: 0%;
  height: 3px;
  transition: width 250ms ease-in-out;
  background: var(--clr-primary-green);
}
.nav__link:hover::after {
  width: 100%;
}
@media (min-width: 500px) {
  .nav {
    margin: 0;
    -webkit-clip-path: initial;
            clip-path: initial;
    position: relative;
  }
  .nav__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.nav--active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.intro {
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}
.intro > * {
  width: 100%;
}
.intro-image-container {
  background: top center/100% 90% url("../images/bg-intro-mobile.svg") no-repeat;
}
.intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translateY(-25%);
}
.intro__body {
  margin: 0 auto;
}
.intro__heading {
  font-size: 2.5rem;
}
.intro__text {
  max-width: 42ch;
  padding: 1.25em 0 2.25em 0;
  color: var(--clr-neutral-100);
}
@media (min-width: 500px) {
  .intro {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-areas: "info img";
    text-align: left;
  }
  .intro__img {
    transform: translate3d(17%, -12%, 0);
  }
  .intro-image-container {
    max-height: 80vh;
    grid-area: img;
    background-image: url("../images/bg-intro-desktop.svg");
    background-repeat: no-repeat;
    background-position-y: -200%;
  }
  .intro__info {
    grid-area: info;
  }
  .intro__btn {
    grid-area: btn;
    align-self: start;
    display: inline-block;
  }
}

.features {
  text-align: center;
  background: var(--clr-neutral-25);
  padding: 5rem 0;
}
.features__info {
  margin-bottom: 3.5rem;
}
.features__heading {
  margin-bottom: 1.25rem;
}
.features__text {
  max-width: 52ch;
  color: var(--clr-neutral-100);
}
@media (min-width: 550px) {
  .features {
    text-align: left;
  }
}

.feature {
  margin: 0 auto;
  max-width: 300px;
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
}
.feature__img {
  margin: 0 auto;
}
.feature__heading {
  font-weight: var(--fw-400);
}
.feature__text {
  color: var(--clr-neutral-100);
}
@media (min-width: 550px) {
  .feature__img {
    margin: 0;
  }
}

.article {
  --bd-rad: 5px;
  --mx-width: 90%;
}
.article h2 {
  max-width: var(--mx-width);
  margin: 0 auto;
  margin-bottom: 2rem;
  background: white;
}
.article__list {
  max-width: var(--mx-width);
  margin: 0 auto;
  padding: 0;
  background: transparent;
  padding-bottom: 5rem;
}
.article__item {
  color: var(--clr-neutral-100);
  border-radius: var(--bd-rad);
  margin: 0 auto;
  max-width: 400px;
  background: white;
}
.article__img {
  height: 225px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: var(--bd-rad) var(--bd-rad) 0 0;
}
.article__info {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  font-size: 1rem;
  padding: 0.5em 1.25em 1.5em 1.25em;
}
.article__author {
  font-size: 0.8em;
}
.article__heading {
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  color: var(--clr-primary-blue);
}
.footer {
  padding: 2.5rem 0;
  background: var(--clr-primary-blue);
  color: var(--clr-neutral-50);
  --sec-gap: 2rem;
}
.footer-grid {
  display: grid;
  justify-items: center;
  grid-template-areas: "logo" "social" "cont" "button" "copyrights";
}
.footer .logo {
  grid-area: logo;
}
.footer .social-media {
  grid-area: social;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 0.9rem;
}
.footer .contact {
  grid-area: cont;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.5rem 0;
}
.footer .contact__list {
  padding: 0;
  margin: 0;
}
.footer .contact__item {
  padding: 0.6em 0em;
}
.footer .contact__link {
  color: var(--clr-neutral-25);
}
.footer .btn {
  grid-area: button;
}
.footer .copyrights {
  grid-area: copyrights;
  color: var(--clr-neutral-100);
}
@media (min-width: 600px) {
  .footer-grid {
    align-items: center;
    grid-template-areas: "logo   cont" "social cont" "button copyrights";
  }
  .footer .contact {
    flex-direction: row;
    margin: 0;
    gap: 5vw;
    text-align: left;
  }
  .footer .social-media {
    margin-top: 0;
  }
}
@media (min-width: 900px) {
  .footer-grid {
    align-items: center;
    grid-template-areas: "logo   cont button" "social cont copyrights";
  }
  .footer .logo {
    justify-self: start;
  }
  .footer .contact {
    text-align: left;
    justify-self: left;
    flex-direction: row;
    margin: 0;
    gap: 5vw;
  }
  .footer .social-media {
    justify-self: start;
  }
  .footer .btn {
    margin: 0;
    justify-self: end;
  }
  .footer .copyrights {
    justify-self: end;
  }
}/*# sourceMappingURL=main.css.map */