:root {
  /* Colors */
  --clr-primary-blue: hsl(233, 26%, 24%);
  --clr-primary-green: hsl(136, 65%, 51%);
  --clr-primary-cyan: hsl(192, 70%, 51%);
  --clr-neutral-0: hsl(0, 0%, 100%);
  --clr-neutral-25: hsl(0, 0%, 98%);
  --clr-neutral-50: hsl(220, 16%, 96%);
  --clr-neutral-100: hsl(233, 8%, 62%);
  /* Font settings */
  --fz: 1.125rem;
  --ff: "Public Sans", sans-serif;
  --fw-300: 300;
  --fw-400: 400;
  --fw-700: 700;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

p {
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

ul[class] {
  list-style: none;
}

body {
  font-family: var(--ff);
  font-size: var(--fz);
  color: var(--clr-primary-blue);
}

.is-hidden {
  display: none;
}

.nav--closed {
  display: none;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.section--heading {
  text-align: center;
  font-weight: var(--fw-400);
  font-size: 2.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 3rem;
}

.article-list-container {
  background: var(--clr-neutral-50);
}

.btn {
  border: none;
  border-radius: 30px;
  padding: 1em 2.75em;
  background: linear-gradient(90deg, var(--clr-primary-green), var(--clr-primary-cyan));
  color: var(--clr-neutral-25);
  font-weight: var(--fw-700);
}
.btn:hover {
  opacity: 0.5;
}

header {
  position: relative;
  width: 85%;
  margin: 1rem auto;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.nav {
  position: absolute;
  margin-top: 2rem;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  background: white;
  border: 1px solid red;
  border-radius: 5px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
          clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: -webkit-clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out;
  transition: clip-path 500ms ease-in-out, -webkit-clip-path 500ms ease-in-out;
}
.nav__list {
  padding: 0;
}
.nav__item {
  text-align: center;
  padding: 0.6em 1em;
}
.nav__link {
  color: var(--clr-primary-blue);
  font-weight: var(--fw-400);
  text-decoration: none;
}

.nav--active {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.intro {
  text-align: center;
}
.intro__body {
  margin: 0 auto;
}
.intro__heading {
  font-size: 2.5rem;
}
.intro__text {
  padding: 1.25em 0 2.25em 0;
  color: var(--clr-neutral-100);
}

.features {
  text-align: center;
  background: var(--clr-neutral-25);
  padding: 4.5rem 0;
}
.features__info {
  margin-bottom: 3.5rem;
}
.features__heading {
  margin-bottom: 1.25rem;
}
.features__text {
  color: var(--clr-neutral-100);
}

.feature {
  margin: 0 auto;
  max-width: 300px;
  display: grid;
  grid-auto-flow: row;
  gap: 1.5rem;
}
.feature__img {
  margin: 0 auto;
}
.feature__heading {
  font-weight: var(--fw-400);
}
.feature__text {
  color: var(--clr-neutral-100);
}

.article {
  --bd-rad: 5px;
  --mx-width: 90%;
}
.article h2 {
  max-width: var(--mx-width);
  margin: 0 auto;
  margin-bottom: 2rem;
  background: white;
}
.article__list {
  max-width: var(--mx-width);
  margin: 0 auto;
  padding: 0;
  background: transparent;
  padding-bottom: 5rem;
}
.article__item {
  color: var(--clr-neutral-100);
  border-radius: var(--bd-rad);
  margin: 0 auto;
  max-width: 400px;
  background: white;
}
.article__img {
  height: 225px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 1.5rem;
  border-radius: var(--bd-rad) var(--bd-rad) 0 0;
}
.article__info {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  font-size: 1rem;
  padding: 0.5em 1.25em 1.5em 1.25em;
}
.article__author {
  font-size: 0.8em;
}
.article__heading {
  font-size: 1.5rem;
  font-weight: var(--fw-400);
  color: var(--clr-primary-blue);
}/*# sourceMappingURL=main.css.map */