:root {
// Colors
  --clr-primary: hsl(12, 88%, 59%);
  --clr-primary: hsl(228, 39%, 23%);
  --clr-neutral: hsl(227, 12%, 61%);
  --clr-neutral: hsl(233, 12%, 13%);
  --clr-neutral: hsl(13, 100%, 96%);
  --clr-neutral: hsl(0, 0%, 98%);
// Fonts
  --ff: 'Be Vietnam', sans-serif;
  --fz: 1rem;
}
