

.comment-container {
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin-inline: auto;
  width: min-content;
}

.comment {
  display: grid;
  /* justify-items: space-between; */
  gap: 0rem;
  padding: 1em 1em;

  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.comment__popularity {
  line-height: 1;

  grid-row: 3;
  justify-self: start;
  grid-column: 1;

  display: flex;
  justify-content: space-around;
  flex-direction: row;
  place-items: center;
  gap: var(--gap, 0.7rem);

  padding-inline: 0.5rem;

  font-size: 1.3rem;
  font-weight: var(--font-weight-7);
  color: var(--clr-primary-violet-900);
  background-color: var(--clr-neutral-gray-300);
}

.popularity__btn {
  padding: 0.4em 0.4em;
  opacity: 0.6;
  color: inherit;
}

.popularity__btn:hover {
  opacity: 1;
}

.popularity__amount {
  animation: shows 500ms forwards;
}

.comment__info {
  grid-row: 1;
  align-items: center;
}

.comment__img {
  --size: 35px;
  width: var(--size);
  height: var(--size);
}

.comment__tag {
  padding-inline: 0.5em;
  font-size: 0.85rem;
  /* padding: .1em .2em; */
  /* border: ; */
}

.comment__text {
  grid-row: 2;
}

.comment__btn {
  position: relative;
}

.comment__btn:hover {
  opacity: 0.7;
}

.comment__btn::before {
  cursor: pointer;
  content: "";
  padding: 1em 1em;
  right: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.comment__control {
  grid-row: 3;
  grid-column: 2;

  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  gap: 0.5em;
}

.comment__reply-btn {
  position: relative;
}

.comment__reply-btn::before {
  background-image: url("assets/images/icon-reply.svg");
}

.comment__edit-btn::before {
  background-image: url("assets/images/icon-edit.svg");
}

.comment__remove-btn::before {
  background-image: url("assets/images/icon-delete.svg");
}

@media (min-width: 600px) {
  .comment {
    grid-template-columns: auto max-content 1fr auto;

    gap: 0.5rem 1rem;
  }

  .comment__popularity {
    align-self: start;
    grid-column: 1;
    grid-row: 1 / span 2;

    flex-direction: column;
    gap: 0;
  }
  .comment__info {
    grid-column: 2;
    grid-row: 1;
  }
  .comment__control {
    grid-column: 4;
    grid-row: 1;
  }

  .comment__text {
    grid-column: 2 / span 3;
    grid-row: 2;
  }
}


.children {
  --left-indent: 3rem;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: var(--left-indent);
  gap: 0.5rem;
}

.children::before {
  display: block;
  content: "";
  position: absolute;
  border-radius: var(--border-radius-4);
  left: calc(var(--left-indent) / 2 - 1px);

  width: 2px;
  height: 100%;
  background-color: var(--clr-neutral-gray-400);
  opacity: 0.2;
}

.children:hover::before {
  animation: comment-line 2000ms forwards ease-in;
  opacity: 0.35;
  background-color: var(--clr-primary-violet-900);
}
