header {
  margin-top: 2rem;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
  }

  &__hamburger {
  }

  &__list {
    display: none;
  }

  &__item {
    text-decoration: none;
  }
}
