header .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  position: relative;
  padding: 2rem 1.25rem;
}

.menu-toggle {
  position: relative;
  z-index: 1;
}

.main-nav {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0;
  margin: 0 -40px;
  padding-left: 40px;

  padding-top: 10rem;
  height: 100vh;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 500ms ease-out;

  &__logo {
    position: relative;
    z-index: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 0.5em 1.25em;
  }

  &__link {
    display: block;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: var(--clr-primary-50);
  }
}

@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .main-nav {
    position: relative;
    height: auto;
    padding: 0;
    background: transparent;
    clip-path: initial;
  }

  .main-nav__list {
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
  }

  .main-nav__item {
    padding: 0;
  }

  .main-nav__link {
    font-size: 1rem;
    text-transform: capitalize;
  }
}

@keyframes menu {
  50% {
    transform: translateX(0%);
  }

  100% {
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
  }
}

.main-nav--open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
