header {
  --size: 4rem;
  position: relative;
  background: top url("../images/mobile/image-hero.jpg") no-repeat;
  background-position: center;
  background-size: cover;

  padding-bottom: var(--size);
  margin-bottom: var(--size);

  @media (min-width: 400px) {
    background: url("../images/desktop/image-hero.jpg") no-repeat top center;
    background-position: center;
    background-size: cover;
  }
}

header .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  padding: 2rem 1.25rem;

  @media (min-width: 700px) {
    padding: 4rem 0;
  }
}

.menu-toggle {
  position: relative;
  z-index: 3;
}

.main-nav {
  position: absolute;
  top: 0%;
  right: 0%;
  left: 0;
  padding-left: 1rem;

  padding-top: 10rem;
  background: black;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  height: 100vh;
  transition: clip-path 500ms ease-out;
  z-index: 2;

  &__logo {
    position: relative;
    z-index: 3;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding: 0.5em 1.25em;
  }

  &__link {
    display: inline-block;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
    font-size: 1.75rem;
    text-transform: uppercase;
    color: var(--clr-primary-50);
  }
}

@media (min-width: 700px) {
  .menu-toggle {
    display: none;
  }

  .main-nav {
    position: relative;
    height: auto;
    padding: 0;
    background: transparent;
    clip-path: initial;
  }

  .main-nav__list {
    flex-direction: row;
    gap: 1rem;
  }

  .main-c {
    justify-content: space-between;
    gap: 1rem;
    flex-direction: row;
  }

  .main-nav__item {
    padding: 0;
  }

  .main-nav__link {
    font-size: 1.55rem;
    text-transform: capitalize;
  }
}

.main-nav--open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
