.body-container {
  background: var(--clr-neutral-blue-300);

  @media (min-width: 700px) {
    --p-size: 5%;
    & > .header {
      padding-inline: var(--p-size);
    }
    & > .main {
      margin-inline: var(--p-size);
    }

    & > .footer {
      margin-inline: var(--p-size);
    }
  }

  @media (min-width: 1200px) {
    --p-size: 10%;
  }


  @media (min-width: 1600px) {
    --p-size: 17%;
  }
}

.padding-container {
  padding-inline: var(--padding-size);

  @media (min-width: 700px) {
    padding-inline: 0;
  }
}

.main-heading {
  font-weight: 700;
  font-size: var(--fz-400);
}
