
.eshop-offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7rem;
  /* padding-block: 7rem; */
}


@media (min-width: 700px) {
  .eshop-offers {
    padding-block: 0;
    padding-top: 10rem;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
  }
}
