.footer {
  padding: 2.5rem 0;
  background: var(--clr-primary-blue);
  color: var(--clr-neutral-50);
  --sec-gap: 2rem;

  &-grid {
    display: grid;
    justify-items: center;
    grid-template-areas:
      "logo"
      "social"
      "cont"
      "button"
      "copyrights";
  }

  .logo {
    grid-area: logo;
  }

  .social-media {
    grid-area: social;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 0.9rem;
  }

  .contact {
    grid-area: cont;
    display: flex;
    flex-direction: column;

    text-align: center;
    margin: 1.5rem 0;

    &__list {
      padding: 0;
      margin: 0;
    }

    &__item {
      padding: 0.6em 0em;
    }

    &__link {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0 auto;
        width: 0%;
        height: 1px;

        transition: width 250ms ease-in-out;
        background: red;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .btn {
    grid-area: button;
  }

  .copyrights {
    grid-area: copyrights;
    color: var(--clr-neutral-100);
  }

  @media (min-width: 600px) {
    &-grid {
      align-items: center;
      grid-template-areas:
        "logo   cont"
        "social cont"
        "button copyrights";
    }

    .contact {
      flex-direction: row;
      margin: 0;
      gap: 5vw;
      text-align: left;
    }

    .social-media {
      margin-top: 0;
     }


  }

  @media (min-width: 900px) {
    &-grid {
      align-items: center;
      grid-template-areas:
        "logo   cont button"
        "social cont copyrights";
    }

    .logo {
      justify-self: start;
    }

    .contact {
      text-align: left;
      justify-self: left;
      flex-direction: row;
      margin: 0;
      gap: 5vw;
    }

    .social-media {
      justify-self: start;
    }

    .btn {
      margin: 0;
      justify-self: end;
    }

    .copyrights {
      justify-self: end;
    }
  }
}
