header {
  position: relative;
  z-index: 3;
  width: 85%;
  margin: 0 auto;
  padding: 1.5rem 0;

  display: grid;
  grid-auto-flow: column;
  
  justify-content: space-between;
  align-items: center;
  background: white;

  @media (min-width: 500px) {

    .menu-control {
      display: none;
    }
  }

  @media (min-width: 1000px) {
    .btn.is-hidden{
      justify-self: center;
      display: block;
    }
  }

}
