.intro {
  // max-height: 70vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;

  // & > * {
  //   width: 100%;
  // }

  &-image-container {
    // background: top center / 100% 90% url("../images/bg-intro-mobile.svg") no-repeat;
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    // transform: translateY(-25%);
  }

  &__info {
  }

  &__body {
    margin: 0 auto;
  }

  &__heading {
    font-size: 2.5rem;
  }

  &__text {
    max-width: 42ch;
    // margin: 0 auto;
    padding: 1.25em 0 2.25em 0;
    color: var(--clr-neutral-100);
  }

  @media (min-width: 500px) {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    grid-template-areas: "info img";
    text-align: left;
    overflow: visible;


    &-image-container {
      position: relative;
      height: 80vh;
    }

    &__img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;

      &--fst {
        z-index: 1;
        transform: translateY(-12%);
      }

      &--snd {
        z-index: 0;
        object-fit: cover;
        transform: translateY(-22%);

      }
    }

    &-image-container {
      grid-area: img;
    }

    &__info {
      grid-area: info;
      justify-self: center;
    }

    &__btn {
      grid-area: btn;
      align-self: start;
      display: inline-block;
    }
  }
}
