.nav {
  position: absolute;
  margin-top: 4rem;
  top: 0;
  left: 0;
  right: 0;

  z-index: 1;

  // background: black;
  background: white;
  border-radius: 5px;

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 500ms ease-in-out;

  &__list {
    padding: 0;
  }

  &__item {
    text-align: center;
    padding: 0.6em 1em;
  }

  &__link {
    position: relative;
    color: var(--clr-primary-blue);
    font-weight: var(--fw-400);
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 0%;
      height: 3px;

      transition: width 250ms ease-in-out;
      background: var(--clr-primary-green);
    }

    &:hover::after {
      width: 100%;
    }
  }

  @media (min-width: 500px) {
    margin: 0;
    clip-path: initial;
    position: relative;

    &__list {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.nav--active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
