.nav {
  position: absolute;
  margin-top: 2rem;
  top: 0;
  left: 0;
  right: 0;

  z-index: 3;

  // background: black;
  background: white;
  border: 1px solid red;
  border-radius: 5px;

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  transition: clip-path 500ms ease-in-out;

  &__list {
    padding: 0;
  }

  &__item {
    text-align: center;
    padding: .6em 1em;
  }

  &__link {
    color: var(--clr-primary-blue);
    font-weight: var(--fw-400);
    text-decoration: none;
  }
}

.nav--active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
