:root {
  --opacity-clr-text: .65;
  --clr-primary-dark: 256 26% 20%;
  --clr-primary-blue: 216 30% 68%;
  --clr-neutral-dark: 270 9% 17%;
  --clr-neutral-gray: 273 4% 51%;
  --clr-neutral-light: 0 0% 98%;
  --fz-100: 1rem;
  --fz-200: 1rem;
  --fz-300: 1.125rem;
  --fz-400: 1.25rem;
  --fz-500: 1.5rem;
  --fz-600: 2rem;
  --fz-700: clamp(2rem, 6vw, 2.5rem);
  --fz-800: clamp(2.5rem, 9vw, 3rem);
  --fz-900: clamp(3rem, 9vw, 3.5rem);
  --ff-heading: "DM Serif Display", serif;
  --ff-primary: "Karla", sans-serif;
  --base-width: 87.5%;
  --container-padding-size: calc((100% - var(--base-width)) / 2);
}
@media (min-width: 700px) {
  :root {
    --fz-200: var(--fz-300);
    --base-width: 90%;
  }
}
@media (min-width: 1200px) {
  :root {
    --fz-600: clamp(2rem, 6vw, 2.5rem);
    --base-width: max(90%);
  }
}
@media (min-width: 1400px) {
  :root {
    --fz-400: 1.5rem;
    --fz-700: clamp(2.5rem, 9vw, 3rem);
    --fz-800: var(--fz-900);
    --base-width: max(90%);
  }
}
@media (min-width: 1500px) {
  :root {
    --base-width: max(80%);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-primary);
  font-size: var(--fz-100);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  cursor: pointer;
}

.button {
  --color-invert: var(--clr-primary-dark);
  --bg-color-invert: var(--clr-neutral-light);
  --border-color-invert: transparent;
  background-color: transparent;
  color: hsl(var(--clr-neutral-light));
  font-weight: 700;
  padding: 1.125em 2.7em;
  border: 1.2px solid hsl(var(--clr-neutral-light));
  text-transform: uppercase;
}
.button:hover, .button:focus {
  color: hsl(var(--color-invert));
  background-color: hsl(var(--bg-color-invert));
}

.card {
  display: grid;
  gap: 2vw;
  justify-items: center;
  text-align: center;
}
.card__heading {
  color: hsl(var(--clr-primary-dark));
  font-size: var(--fz-400);
  font-weight: 400;
  padding-bottom: 0.2em;
}
.card__text {
  font-size: var(--fz-100);
  font-weight: 400;
  color: hsl(var(--clr-primary-dark)/0.7);
  max-width: 37ch;
}
@media (min-width: 700px) {
  .card {
    justify-items: start;
    text-align: left;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-1 20:52:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.nav__item {
  font-weight: 700;
  text-transform: uppercase;
}
.nav__link {
  color: inherit;
}

.header {
  display: grid;
  grid-template-areas: ". logo . hamburgerMenu .";
  grid-template-columns: var(--container-padding-size) -webkit-max-content 1fr -webkit-max-content var(--container-padding-size);
  grid-template-columns: var(--container-padding-size) max-content 1fr max-content var(--container-padding-size);
  align-items: center;
  padding-block: 1rem;
}
.header__logo {
  grid-area: logo;
}
.header__menu {
  --size: 30px;
  grid-area: hamburgerMenu;
  background-image: url(../../images/icons/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: var(--size);
  width: var(--size);
}
@media (min-width: 700px) {
  .header__menu {
    display: none;
  }
}
.header__nav {
  margin-top: 1em;
  grid-column: 1/-1;
  height: 100vh;
  /* Background settings */
  background-image: url("../../images/backgrounds/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom 0% center;
  background-size: 100vw;
  background-color: hsl(var(--clr-neutral-dark));
  text-align: center;
}
@media (min-width: 700px) {
  .header__nav {
    grid-column: 3/4;
    justify-self: end;
    height: auto;
    margin: 0;
    background: transparent;
  }
}
.header__nav .nav__list {
  padding-top: 27%;
  align-items: center;
}
@media (min-width: 700px) {
  .header__nav .nav__list {
    flex-direction: row;
    gap: 1vw;
    padding: 0;
  }
}
.header__nav .nav__item {
  cursor: pointer;
  padding: 0.8em 1em;
  color: hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .header__nav .nav__item {
    color: hsl(var(--clr-neutral-gray));
  }
}
.header__nav .nav__item:hover, .header__nav .nav__item:focus {
  outline: 3px solid hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .header__nav .nav__item:hover, .header__nav .nav__item:focus {
    outline: none;
    color: hsl(var(--clr-neutral-dark));
  }
}
@media (min-width: 700px) {
  .header__nav .nav__item--fancy {
    margin: 3px;
    padding: 0.75em 2em;
    outline: 3px solid hsl(var(--clr-primary-dark));
  }
  .header__nav .nav__item--fancy:hover, .header__nav .nav__item--fancy:focus {
    background: hsl(var(--clr-primary-dark));
    transition: background-color 100ms linear;
    color: hsl(var(--clr-neutral-light));
  }
}
.header__nav[data-menu-active=true] {
  display: block;
  overflow-y: hidden;
}
@media (min-width: 700px) {
  .header__nav[data-menu-active=true] {
    overflow-y: auto;
  }
}
.header__nav[data-menu-active=false] {
  display: none;
  overflow-y: auto;
}
@media (min-width: 700px) {
  .header__nav[data-menu-active=false] {
    display: block;
  }
}

.hero {
  position: relative;
  display: grid;
  grid-template-areas: "photo photo photo" ".     info  .";
  grid-template-columns: var(--container-padding-size) auto var(--container-padding-size);
  background-color: hsl(var(--clr-primary-dark));
}
.hero__image-container {
  grid-area: photo;
}
.hero__image {
  min-height: 400px;
}
.hero__info {
  grid-area: info;
  position: relative;
  align-self: center;
  padding-block: 4em;
  text-align: center;
  color: hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .hero__info {
    z-index: 2;
    padding-right: 2vw;
    padding-bottom: 3rem;
    text-align: left;
    padding-block: 1em;
  }
}
@media (min-width: 900px) {
  .hero__info {
    padding-block: 3rem;
  }
}
.hero__heading {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fz-700);
  line-height: 1;
  padding-bottom: 0.5em;
}
.hero__heading-decoration {
  display: block;
}
.hero__text {
  font-size: var(--fz-100);
  max-width: 58ch;
}
.hero__button {
  padding: 0.55em 1.75em;
  margin-top: 3em;
}
.hero__image {
  width: 100%;
}
.hero::before {
  content: "";
  position: absolute;
  grid-column: 1/-1;
  grid-row: 2;
  inset: 0;
  background-position: top left, bottom -175px right;
  background-image: url(../../images/backgrounds/bg-pattern-intro-left-mobile.svg), url(../../images/backgrounds/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
}
@media (min-width: 700px) {
  .hero {
    padding-top: 6rem;
    grid-template-areas: ". line    . photo ." ". info info photo ." ". .    .    photo .";
    grid-template-columns: var(--container-padding-size) 0.3fr 1fr 1fr var(--container-padding-size);
    grid-template-rows: 10px 1fr minmax(3rem, 170px);
  }
  .hero .bgr {
    grid-row: 3;
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    background: white;
  }
  .hero::after {
    content: "";
    position: absolute;
    grid-column: line;
    grid-row: 1;
    background: white;
    width: 100%;
    height: 1.5px;
  }
  .hero::before {
    grid-row: auto;
    background-image: url(../../images/backgrounds/bg-pattern-intro-left-desktop.svg), url(../../images/backgrounds/bg-pattern-intro-right-desktop.svg);
    background-position: bottom left, top right;
  }
}
@media (min-width: 700px) and (min-width: 700px) {
  .hero::before {
    background-size: 20%, 35%;
  }
}
@media (min-width: 700px) and (min-width: 1000px) {
  .hero::before {
    background-size: 11%, 23%;
  }
}
@media (min-width: 700px) and (min-width: 1400px) {
  .hero::before {
    background-size: 12%, 26%;
  }
}

.about {
  position: relative;
  z-index: 1;
  padding-block: 3.5vw;
  text-align: center;
  padding-inline: var(--container-padding-size);
}
.about__heading {
  position: relative;
  padding-block: 0.4em;
  padding-bottom: 1em;
  font-size: var(--fz-700);
  font-weight: 400;
  line-height: 1;
}
.about__heading::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 55%;
  margin: 0 auto;
  padding-bottom: 1.4px;
  background: hsl(var(--clr-primary-dark)/0.4);
  transform: translateY(-0.9em);
}
@media (min-width: 700px) {
  .about__heading::before {
    width: 10%;
    margin: 0;
  }
}
.about__card-container {
  display: grid;
  gap: 3rem;
  align-items: baseline;
  padding-block: 3rem;
}
@media (min-width: 700px) {
  .about__card-container {
    grid-auto-flow: column;
  }
}
.about__banner {
  display: flex;
  gap: 1.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 5rem;
  padding-block: 2.5em;
  padding-inline: 1rem;
  background-color: hsl(var(--clr-primary-dark));
  background-image: url(../../images/backgrounds/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
@media (min-width: 700px) {
  .about__banner {
    background-image: url(../../images/backgrounds/bg-pattern-how-we-work-desktop.svg);
    font-size: var(--fz-300);
    flex-direction: row;
    justify-content: space-around;
  }
}
.about .banner__heading {
  font-family: var(--ff-heading);
  font-weight: 400;
  padding-bottom: 0.4em;
  font-size: var(--fz-600);
  line-height: 1;
  color: hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .about .banner__heading--fst-line {
    display: block;
  }
}
.about .banner__button {
  padding: 0.6em 1.2em;
}
@media (min-width: 700px) {
  .about {
    text-align: left;
  }
}

.footer {
  display: grid;
  grid-template-areas: ". logo       ." ". social     ." ". nav-bottom .";
  grid-template-columns: var(--container-padding-size) 1fr var(--container-padding-size);
  --size: 2rem;
  letter-spacing: 1.5px;
}
.footer__nav-container {
  grid-area: nav-bottom;
  display: flex;
  flex-direction: column;
}
@media (min-width: 600px) {
  .footer__nav-container {
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
  }
}
.footer__nav {
  text-transform: uppercase;
  text-align: center;
}
.footer__nav:last-of-type {
  padding-bottom: calc(2 * var(--size));
}
.footer__nav-category {
  font-family: var(--ff-primary);
  font-size: var(--fz-200);
  font-weight: 900;
  color: hsl(var(--clr-neutral-gray)/0.9);
  margin: 0;
  padding-block: var(--size);
}
.footer__nav-link {
  position: relative;
  text-decoration: none;
  color: hsl(var(--clr-primary-dark)/0.8);
}
.footer__nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  margin: 0 auto;
  background: hsl(var(--clr-neutral-gray));
  transition: width 150ms ease-out;
}
.footer__nav-item:hover .footer__nav-link::after, .footer__nav-item:focus .footer__nav-link::after {
  width: 100%;
}
@media (min-width: 700px) {
  .footer__nav {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.footer__social {
  grid-area: social;
  display: grid;
  gap: 1vw;
  grid-auto-flow: column;
  justify-content: center;
}
.footer .social__network {
  cursor: pointer;
}
.footer .social__network:hover {
  fill: hsl(var(--clr-primary-dark));
}
.footer__logo {
  grid-area: logo;
  justify-self: center;
}
@media (min-width: 600px) {
  .footer {
    grid-template-areas: ". logo           social  ." ". nav-bottom  nav-bottom .";
    grid-template-columns: var(--container-padding-size) 1fr 1fr var(--container-padding-size);
  }
  .footer__logo {
    justify-self: start;
  }
  .footer__social {
    justify-self: end;
  }
}
@media (min-width: 700px) {
  .footer {
    padding-top: 4rem;
    background: top left url("../../images/backgrounds/bg-pattern-footer-desktop.svg") hsl(var(--clr-neutral-light));
    background-size: 40% 60%;
    background-repeat: no-repeat;
  }
}
@media (min-width: 800px) {
  .footer {
    grid-template-areas: ". logo        .          social ." ". nav-bottom  nav-bottom .      .";
    grid-template-columns: var(--container-padding-size) -webkit-max-content 1fr -webkit-max-content var(--container-padding-size);
    grid-template-columns: var(--container-padding-size) max-content 1fr max-content var(--container-padding-size);
  }
}

.ff-heading {
  font-family: var(--ff-heading);
}

.clr-heading {
  color: hsl(var(--clr-primary-dark));
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}/*# sourceMappingURL=main.css.map */