:root {
  --clr-primary-dark: 256 26% 20%;
  --clr-primary-blue: 216 30% 68%;
  --clr-neutral-dark: 270 9% 17%;
  --clr-neutral-gray: 273 4% 51%;
  --clr-neutral-light: 0 0% 98%;
  --fz-100: .87rem;
  --fz-200: 1rem;
  --fz-300: 1.125rem;
  --fz-400: 1.5rem;
  --fz-500: 2.2rem;
  --fz-600: 3rem;
  --fz-900: 3.5rem;
  --ff-heading: "DM Serif Display", serif;
  --ff-primary: "Karla", sans-serif;
  --base-width: 87.5%;
  --container-padding-size: calc((100% - var(--base-width)) / 2);
}
@media (min-width: 700px) {
  :root {
    --base-width: 90%;
  }
}
@media (min-width: 1200px) {
  :root {
    --fz-500: var(--fz-900);
    --base-width: max(90%)%;
  }
}
@media (min-width: 1400px) {
  :root {
    --fz-500: var(--fz-900);
    --base-width: max(77%);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-primary);
  font-size: var(--fz-100);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
}
@media (min-width: 700px) {
  body {
    overflow-y: auto !important;
  }
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  cursor: pointer;
}

.button {
  --color-invert: var(--clr-primary-dark);
  --bg-color-invert: var(--clr-neutral-light);
  --border-color-invert: transparent;
  background-color: transparent;
  color: hsl(var(--clr-neutral-light));
  font-weight: 700;
  padding: 1.125em 2.7em;
  border: 1.2px solid hsl(var(--clr-neutral-light));
  text-transform: uppercase;
}
.button:hover {
  color: hsl(var(--color-invert));
  background-color: hsl(var(--bg-color-invert));
}

.card {
  display: grid;
  gap: 1rem;
  justify-items: center;
  text-align: center;
}
.card__img {
  margin-right: auto;
}
.card__heading {
  color: hsl(var(--clr-primary-dark));
  font-size: 1.65rem;
  font-weight: 700;
  padding-bottom: 0.2em;
}
.card__text {
  color: hsl(var(--clr-primary-dark)/0.4);
  font-weight: 400;
}
@media (min-width: 700px) {
  .card {
    text-align: left;
  }
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 0.7s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-1 20:52:20
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
.header {
  position: relative;
  z-index: 13000;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  padding-inline: var(--container-padding-size);
  padding-block: 1rem;
}
.header__menu {
  --size: 30px;
  background-image: url(../../images/icons/icon-hamburger.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: var(--size);
  width: var(--size);
}
@media (min-width: 700px) {
  .header__menu {
    display: none;
  }
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  height: 100vh;
  /* Background settings */
  background-image: url("../../images/backgrounds/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom 0% center;
  background-size: 100vw;
  background-color: hsl(var(--clr-neutral-dark));
}
@media (min-width: 700px) {
  .header__nav {
    position: initial;
    height: auto;
    background: transparent;
  }
}
.header__nav .nav__list {
  padding-top: 27%;
  width: 80%;
  margin: 0 auto;
}
@media (min-width: 700px) {
  .header__nav .nav__list {
    width: 100%;
    padding: 0;
    margin: 0;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
  }
}
.header__nav .nav__item {
  padding: 0.8em 1em;
  color: hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .header__nav .nav__item {
    color: hsl(var(--clr-neutral-gray));
  }
}
.header__nav .nav__item--fancy {
  outline: 3px solid hsl(var(--clr-primary-dark));
}
@media (min-width: 700px) {
  .header__nav .nav__item--fancy:hover, .header__nav .nav__item--fancy:focus {
    background: hsl(var(--clr-primary-dark));
    transition: background-color 100ms linear;
    color: hsl(var(--clr-neutral-light)) !important;
  }
}
.header__nav .nav__item:hover, .header__nav .nav__item:focus {
  outline: 3px solid hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .header__nav .nav__item:hover, .header__nav .nav__item:focus {
    outline: none;
    color: hsl(var(--clr-neutral-dark));
  }
}
.header__nav[data-menu-active=true] {
  display: block;
}
.header__nav[data-menu-active=false] {
  display: none;
}
@media (min-width: 700px) {
  .header__nav[data-menu-active=false] {
    display: block;
  }
}
@media (min-width: 700px) {
  .header {
    grid-auto-flow: column;
    align-content: space-between;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.nav__item {
  color: hsl(var(--clr-neutral-gray));
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.nav__link {
  color: inherit;
}

.hero-container {
  background-color: hsl(var(--clr-primary-dark));
}

.hero {
  --size: 0%;
  position: relative;
  display: flex;
  gap: 2vw;
  flex-direction: column-reverse;
}
.hero__info {
  position: relative;
  padding-inline: var(--container-padding-size);
  padding-block: 7em;
  background: top left url(../../images/backgrounds/bg-pattern-intro-left-mobile.svg) no-repeat;
  text-align: center;
  color: hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .hero__info {
    padding: 0;
    text-align: left;
    background: none;
    transform: translateY(calc(0.5 * var(--size)));
  }
}
.hero__info-width-wrapper {
  margin-inline: auto;
  width: var(--base-width);
}
@media (min-width: 700px) {
  .hero__info-width-wrapper {
    width: auto;
  }
}
.hero__info::before {
  content: "";
  position: absolute;
  bottom: -30%;
  right: 0;
  width: 124px;
  height: 330px;
  z-index: 1;
  background: bottom right url(../../images/backgrounds/bg-pattern-intro-right-mobile.svg) no-repeat;
  background-repeat: no-repeat;
}
@media (min-width: 700px) {
  .hero__info::before {
    background: none;
  }
}
.hero__heading {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fz-500);
  line-height: 1.1;
  padding-bottom: 0.5em;
}
.hero__heading-decoration {
  display: block;
}
.hero__text {
  max-width: 58ch;
}
.hero__button {
  position: relative;
  z-index: 11221;
  margin-top: 3em;
}
.hero__image-container {
  width: 100%;
}
.hero__image {
  width: 100%;
}
@media (min-width: 700px) {
  .hero {
    --size: clamp(1rem, 10.5vw, 8rem);
    padding-inline: var(--container-padding-size);
    flex-direction: row;
    justify-content: space-between;
    overflow-y: visible;
    transform: translateY(var(--size));
  }
  .hero > * {
    width: 100%;
  }
}

.about {
  text-align: center;
  padding-inline: var(--container-padding-size);
}
.about__heading {
  position: relative;
  margin-top: 3em;
  padding-block: 0.4em;
  padding-bottom: 1em;
  font-size: var(--fz-600);
  font-weight: 400;
  line-height: 1;
}
.about__heading::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 55%;
  margin: 0 auto;
  padding-bottom: 1.4px;
  background: hsl(var(--clr-primary-dark)/0.4);
  transform: translateY(-0.9em);
}
@media (min-width: 700px) {
  .about__heading::before {
    width: 10%;
    margin: 0;
  }
}
@media (min-width: 700px) {
  .about__heading {
    font-size: var(--fz-500);
  }
}
@media (min-width: 1400px) {
  .about__heading {
    font-size: var(--fz-900);
  }
}
.about__card-container {
  display: grid;
  gap: 3rem;
  align-items: baseline;
}
@media (min-width: 700px) {
  .about__card-container {
    grid-auto-flow: column;
  }
}
.about__banner {
  display: flex;
  gap: 1.75em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 5rem;
  padding-block: 2.5em;
  padding-inline: 1rem;
  background-color: hsl(var(--clr-primary-dark));
  background-image: url(../../images/backgrounds/bg-pattern-how-we-work-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
}
@media (min-width: 700px) {
  .about__banner {
    background-image: url(../../images/backgrounds/bg-pattern-how-we-work-desktop.svg);
    font-size: var(--fz-300);
    flex-direction: row;
    justify-content: space-around;
  }
}
.about .banner__heading {
  font-family: var(--ff-heading);
  font-weight: 400;
  padding-bottom: 0.4em;
  font-size: 2rem;
  line-height: 1;
  color: hsl(var(--clr-neutral-light));
}
@media (min-width: 700px) {
  .about .banner__heading {
    font-size: var(--fz-500);
  }
  .about .banner__heading--fst-line {
    display: block;
  }
}
@media (min-width: 1400px) {
  .about .banner__heading {
    font-size: var(--fz-600);
  }
}
.about .banner__button {
  padding: 0.6em 1.2em;
}
@media (min-width: 700px) {
  .about {
    text-align: left;
  }
}

.footer {
  --size: 2rem;
  letter-spacing: 1.5px;
}
.footer__nav-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .footer__nav-container {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__nav {
  text-transform: uppercase;
  text-align: center;
}
.footer__nav:last-of-type {
  padding-bottom: calc(2 * var(--size));
}
.footer__nav-category {
  font-family: var(--ff-primary);
  font-weight: 900;
  color: hsl(var(--clr-neutral-gray)/0.9);
  margin: 0;
  padding-block: var(--size);
}
.footer__nav-link {
  position: relative;
  text-decoration: none;
  color: hsl(var(--clr-primary-dark)/0.8);
}
.footer__nav-link::after {
  content: "";
  position: absolute;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 0%;
  margin: 0 auto;
  background: hsl(var(--clr-neutral-gray));
  transition: width 150ms ease-out;
}
.footer__nav-item:hover .footer__nav-link::after {
  width: 100%;
}
@media (min-width: 700px) {
  .footer__nav {
    -moz-text-align-last: left;
         text-align-last: left;
  }
}
.footer__intro {
  position: relative;
  display: flex;
  gap: 1.75rem;
  flex-direction: column;
  justify-content: end;
  padding-bottom: 2em;
  align-items: center;
  background: top center url("../../images/backgrounds/bg-pattern-footer-mobile.svg") no-repeat;
  background-size: 100% 90%;
}
.footer__intro::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: var(--base-width);
  margin: 0 auto;
  height: 1px;
  background: hsl(var(--clr-neutral-gray)/0.3);
  transform: translateY(100%);
}
@media (min-width: 700px) {
  .footer__intro::after {
    width: 100%;
  }
}
@media (min-width: 700px) {
  .footer__intro {
    width: 100%;
    padding-top: 3rem;
    background-image: none;
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__social {
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  justify-content: center;
}
@media (min-width: 700px) {
  .footer {
    padding-inline: var(--container-padding-size);
    background: top left url("../../images/backgrounds/bg-pattern-footer-desktop.svg");
    background-size: 40% 60%;
    background-repeat: no-repeat;
  }
}

.ff-heading {
  font-family: var(--ff-heading);
}

.clr-heading {
  color: hsl(var(--clr-primary-dark));
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}/*# sourceMappingURL=main.css.map */