.footer {
  // position: relative;
  // background-color: var(--clr-neutral-light);

  display: grid;
  grid-template-areas:
    ". logo       ."
    ". social     ."
    ". nav-bottom .";
  grid-template-columns:
    var(--container-padding-size)
    1fr
    var(--container-padding-size);

  --size: 2rem;
  letter-spacing: 1.5px;

  &__nav-container {
    grid-area: nav-bottom;
    display: flex;
    flex-direction: column;

    @media (min-width: 600px) {
      flex-direction: row;
      gap: 1rem;
      justify-content: space-between;
    }
  }

  &__nav {
    text-transform: uppercase;
    text-align: center;

    &:last-of-type {
      padding-bottom: calc(2 * var(--size));
    }
   
    &-category {
      font-family: var(--ff-primary);
      font-size: var(--fz-200);

      font-weight: 900;

      color: hsl(var(--clr-neutral-gray) / 0.9);
      margin: 0;
      padding-block: var(--size);
    }

    &-link {
      position: relative;
      text-decoration: none;
      color: hsl(var(--clr-primary-dark) / 0.8);

      &::after {
        content: "";
        position: absolute;
        height: 2px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 0%;
        margin: 0 auto;
        background: hsl(var(--clr-neutral-gray));
        transition: width 150ms ease-out;
      }
    }
    // underline decoration for link
    &-item:hover &-link::after {
      width: 100%;
    }

    @media (min-width: 700px) {
      text-align-last: left;
    }
  }

  &__social {
    grid-area: social;
    display: grid;
    gap: 1vw;
    grid-auto-flow: column;
    justify-content: center;
  }

  .social__network {
    cursor: pointer;

    &:hover {
      fill: hsl(var(--clr-primary-dark));
    }
  }

  &__logo {
    grid-area: logo;
    justify-self: center;
  }

  &::after {
    //   content: '';
    //   position: absolute;
    //   grid-column: social-start / social-end;

    //   width: 100%;
    //   height: 20px;
    //   background: red;
  }

  @media (min-width: 600px) {
    grid-template-areas:
      ". logo           social  ."
      ". nav-bottom  nav-bottom .";
    grid-template-columns:
      var(--container-padding-size)
      1fr 1fr
      var(--container-padding-size);

    &__logo {
      justify-self: start;
    }
    &__social {
      justify-self: end;
    }
  }

  @media (min-width: 700px) {
    padding-top: 4rem;
    background: top left
      url("../../images/backgrounds/bg-pattern-footer-desktop.svg")
      hsl(var(--clr-neutral-light));
    background-size: 40% 60%;
    background-repeat: no-repeat;
  }

  @media (min-width: 800px) {
    grid-template-areas:
      ". logo        .          social ."
      ". nav-bottom  nav-bottom .      .";
    grid-template-columns: var(--container-padding-size) max-content 1fr max-content var(
        --container-padding-size
      );
  }
}