.hero {
  position: relative;
  display: grid;
  grid-template-areas:
    "photo photo photo"
    ".     info  .";
  grid-template-columns: var(--container-padding-size) auto var(
      --container-padding-size
    );

  background-color: hsl(var(--clr-primary-dark));

  &__image-container {
    grid-area: photo;
    
  }
  
  &__image {
    min-height: 400px;
  }

  &__info {
    grid-area: info;
    position: relative;
    align-self: center;

    padding-block: 4em;
    text-align: center;
    color: hsl(var(--clr-neutral-light));

    @media (min-width: 700px) {
      z-index: 2;
      padding-right: 2vw;
      padding-bottom: 3rem;
      text-align: left;
      padding-block: 1em;
    }
    
    @media (min-width: 900px) {
      padding-block: 3rem;
    }
  }

  &__heading {
    font-family: var(--ff-heading);
    font-weight: 400;
    font-size: var(--fz-700);
    line-height: 1;
    padding-bottom: 0.5em;

    &-decoration {
      display: block;
    }
  }

  &__text {
    font-size: var(--fz-100);
    max-width: 58ch;
  }

  &__button {
    padding: 0.55em 1.75em;
    margin-top: 3em;
  }

  &__image {
    width: 100%;
  }

  // Backgrounds
  &::before {
    content: "";
    position: absolute;
    grid-column: 1 / -1;
    grid-row: 2;
    inset: 0;

    background-position: top left, bottom -175px right;
    background-image: url(../../images/backgrounds/bg-pattern-intro-left-mobile.svg),
      url(../../images/backgrounds/bg-pattern-intro-right-mobile.svg);
    background-repeat: no-repeat;
  }

  @media (min-width: 700px) {
    padding-top: 6rem;
    grid-template-areas:
      ". line    . photo ."
      ". info info photo ."
      ". .    .    photo .";
    grid-template-columns: var(--container-padding-size) 0.3fr 1fr 1fr var(
        --container-padding-size
      );
    grid-template-rows: 10px 1fr minmax(3rem, 170px);

    // Line on top of the Heading
    .bgr {
      grid-row: 3;
      grid-column: 1 / -1;
      width: 100%;
      height: 100%;
      background: white;
    }

    &::after {
      content: "";
      position: absolute;

      grid-column: line;
      grid-row: 1;
      background: white;
      width: 100%;
      height: 1.5px;
    }

    // Backgrounds
    &::before {
      grid-row: auto;
      background-image: url(../../images/backgrounds/bg-pattern-intro-left-desktop.svg),
        url(../../images/backgrounds/bg-pattern-intro-right-desktop.svg);
      background-position: bottom left, top right;

      @media (min-width: 700px) {
        background-size: 20%, 35%;
      }

      @media (min-width: 1000px) {
        background-size: 11%, 23%;
      }
      @media (min-width: 1400px) {
        background-size: 12%, 26%;
      }
    }
  }
}
