*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

:root {
    /* Font families */
    --font-family-sans: 'Roboto', sans-serif;
    --font-family-serif: 'Playfair Display', serif;
    /* Colors */
    --clr-white: #FFFFFF;
    --clr-light: #F3EED9;
    --clr-brown: #824936;
    --clr-black: #222C2A;
    /* Font sizes */
    --font-size-sm: 1rem;
    --font-size-md: 1.313rem;
    --font-size-lg: 2rem;
    --font-size-xl: 3.75rem;
    /* Line height */
    --line-height-sm: 1;
    --line-height-md: 2;
}

body {
    margin: 0;
}

p + p {
    margin-top: 1em;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    width: min(80%, 1128px);
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
}

.col {
    width: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 330px;
    background: var(--clr-light);
    text-align: center;
}

.header__sub_heading {
    font-family: var(--font-family-sans);
    font-size: var(--font-size-sm);
    color: var(--clr-black);
    letter-spacing: 3px;
    text-transform: uppercase;
}

.header__main_heading {
    font-family: var(--font-family-serif);
    font-size: var(--font-size-lg);
    color: var(--clr-brown);
    margin-top: .5em;
    line-height: 1.1em;
}

.main,
.content {
    padding: 2em 0em;
}

.main__heading,
.content__heading {
    margin-bottom: .75em;
    font-family: var(--font-family-serif);
    font-size: var(--font-size-md);
    text-align: center;
}

.content__img {
    margin-top: 1em;
}

.content--brown {
    background-color: var(--clr-brown);
    color: var(--clr-white);
}

.content--black {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.text--mod {
    /* letter-spacing: 1px; */
    font-size: var(--font-size-md);
    line-height: 1.5em;
}

.main__heading {
    color: var(--clr-brown);
    text-transform: capitalize;
}

.content__heading {
    color: var(--clr-light);
}

@media (min-width: 600px) {

    .header {
        min-height: 560px;
    }

    .main,
    .content {
        padding: 5em 0em;
    }

    .main .row {
        flex-direction: row;
        gap: 10%;
    }

    p + p {
        margin: 0;
    }
}

@media (min-width: 900px) {

    .header {
        min-height: 560px;
    }

    .header__main_heading {
        font-size: var(--font-size-xl);
    }

    .main__heading,
    .content__heading {
        font-size: var(--font-size-lg);
    }

    .main,
    .content {
        padding: 9em 0em;
    }

    .main .row {
        flex-direction: row;
    }
    .row {
        flex-direction: row;
        gap: 10%;    
    }

}