:root {
  --clr-primary-dark: 256 26% 20%;
  --clr-primary-blue: 216 30% 68%;
  --clr-neutral-dark: 270 9% 17%;
  --clr-neutral-gray: 273 4% 51%;
  --clr-neutral-light: 0 0% 98%;
  --fz: 1rem;
  --ff-headings: "DM Serif Display", serif;
  --ff-primary: "Karla", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--ff-primary);
  font-size: var(--fz);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  margin: 0 auto;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
a {
  cursor: pointer;
}

.header {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem 10%;
}
.header__menu {
  --size: 30px;
  background: url(./images/icons/icon-hamburger.svg) no-repeat;
  background-size: 100% 100%;
  height: var(--size);
  width: var(--size);
}
.header__nav {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 9;
  height: 100vh;
  -webkit-animation: expandmenu 1s alternate;
          animation: expandmenu 1s alternate;
  /* Background settings */
  background-image: url("./images/backgrounds/bg-pattern-mobile-nav.svg");
  background-repeat: no-repeat;
  background-position: bottom 0% center;
  background-size: 100vw;
  background-color: hsl(var(--clr-neutral-dark));
  transition: transform 500ms linear;
}
.header__nav .nav__list {
  padding-top: 1rem;
  width: 80%;
  margin: 0 auto;
}
.header__nav .nav__item {
  padding: 0.8em 1em;
  color: hsl(var(--clr-neutral-light));
}
.header__nav .nav__item:hover, .header__nav .nav__item:focus {
  outline: 3px solid hsl(var(--clr-neutral-light));
}
.header__nav[data-menu-active=true] {
  transform: translateY(0%);
}
.header__nav[data-menu-active=false] {
  transform: translateY(-120%);
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.nav__item {
  color: hsl(var(--clr-neutral-gray));
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.nav__link {
  color: inherit;
}/*# sourceMappingURL=main.css.map */