:root {
  --clr-primary-100: hsl(0, 0%, 100%);
  --clr-primary-200: hsl(0, 0%, 63%);
  --clr-primary-300: hsl(0, 0%, 27%);
  --clr-primary-400: hsl(0, 0%, 0%);
  --ff: "Spartan", sans-serif;
  --fw-sm: 500;
  --fw-md: 600;
  --fw-lg: 700;
  --lh-md: 1.6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  border: 0;
  margin: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.main__offer {
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}
.main__offer--active {
  opacity: 1;
  height: auto;
}

body {
  font-family: var(--ff);
  font-size: 12px;
  margin: 0;
  display: grid;
  grid-auto-flow: row;
  grid-template-areas: "head" "main" "footer";
}

header {
  margin: 0;
  position: relative;
  height: 50vh;
  grid-area: head;
}
header .main-nav {
  position: absolute;
  display: flex;
  width: 90%;
  left: 0;
  right: 0;
  margin: 3rem auto;
  z-index: 1;
}
header .main-nav__hamburger {
  cursor: pointer;
  background-color: transparent;
}
header .main-nav__logo {
  background-color: transparent;
  margin: 0 auto;
}
header .main-nav .nav__list {
  display: none;
}
.main__body,
.about__body {
  line-height: var(--lh-md);
  color: var(--clr-primary-200);
}

.about__info,
.main__offer-container {
  width: 80%;
  margin: 0 auto;
}

.main {
  grid-area: main;
}
.main__headline {
  margin-top: 4rem;
}
.main .shop-now {
  margin: 3.5rem 0 3rem 0;
  display: flex;
  align-items: center;
}
.main__btn {
  position: relative;
  margin-top: 3em;
  font-size: 0.8rem;
  letter-spacing: 6px;
  font-family: inherit;
  text-transform: uppercase;
  display: inline-block;
  border: none;
  background-color: transparent;
  text-decoration: none;
}
.main__btn::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 12px;
  top: 0;
  margin: auto 0;
  right: -30%;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
}

.about {
  grid-area: footer;
}
.about__img {
  display: block;
  margin: 3rem 0;
}
.about__img--grey {
  margin-bottom: 0;
}
.about__body {
  line-height: var(--lh-md);
}

.galery__btn {
  padding: 1.5rem 1.5rem;
}
.galery__btn--left {
  background: center center url("../images/icon-angle-left.svg") no-repeat black;
}
.galery__btn--right {
  background: center center url("../images/icon-angle-right.svg") no-repeat black;
}

.galery {
  height: 100%;
  position: relative;
}
.galery__list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.galery__item {
  height: 0%;
  opacity: 0;
  transition: opacity 500ms ease-out;
}
.galery__item--active {
  opacity: 1;
  height: 100%;
}
.galery__item:nth-of-type(1) {
  background: center center url("../images/mobile-image-hero-1.jpg") no-repeat;
  background-size: 100% 100%;
}
.galery__item:nth-of-type(2) {
  background: center center url("../images/mobile-image-hero-2.jpg") no-repeat;
  background-size: 100% 100%;
}
.galery__item:nth-of-type(3) {
  background: center center url("../images/mobile-image-hero-3.jpg") no-repeat;
  background-size: 100% 100%;
}
.galery__btn-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  right: 0;
}/*# sourceMappingURL=styles.css.map */