:root {
  /* Colors */
  --color-neutral-white: hsl(0, 0%, 98%);
  --color-neutral-gray: hsl(0, 0%, 41%);
  --color-neutral-black: hsl(0, 0%, 8%);
  /* Font Settings */
  --font-base: 500;
  --font-bold: 700;
  --font-sans-serif: "Epilogue", sans-serif;
  --font-size-sm: clamp(0.7rem, 0.26vw + 0.63rem, 0.84rem);
  --font-size-base: clamp(0.88rem, 0.45vw + 0.76rem, 1.13rem);
  --font-size-md: clamp(1.09rem, 0.74vw + 0.91rem, 1.5rem);
  --font-size-lg: clamp(1.37rem, 1.15vw + 1.08rem, 2rem);
  --font-size-xl: clamp(1.71rem, 1.74vw + 1.27rem, 2.66rem);
  --font-size-xxl: clamp(2.14rem, 2.57vw + 1.49rem, 3.55rem);
  --font-size-xxxl: clamp(2.67rem, 3.75vw + 1.73rem, 4.73rem);
}

h1 {
  line-height: 1;
  --font-size-xxl: clamp(1.88rem, 5.85vw + 0.5rem, 5.63rem);
  font-size: var(--font-size-xxl);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a {
  color: inherit;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  overflow: hidden;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-sans-serif);
  font-size: var(--font-size-base);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  overflow-x: hidden;
}

.visible {
  display: block;
}

.btn {
  padding-block: 0.5em;
  padding-inline: 2em;
  cursor: pointer;
}

.btn-register {
  color: var(--color-neutral-gray);
  border: 2px solid var(--color-neutral-gray) !important;
  border-radius: 12px;
}
.btn-register:hover {
  border-color: var(--color-neutral-black);
}

.header {
  --header-padding-size: 2em;
  padding: var(--header-padding-size);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
  flex: 1;
}
.main {
  display: grid;
  gap: 3rem;
}

.hero-img {
  max-width: 500px;
}

.hero-img-container {
  grid-row: 1;
}

.content {
  grid-row: 2;
  display: grid;
  gap: 1.25rem;
  text-align: center;
}
.content__text {
  color: var(--color-neutral-gray);
  margin-inline: auto;
  max-width: 35ch;
}

.nav {
  min-width: min(300px, 60vw);
  position: absolute;
  inset: 0 0 0 auto;
  padding: var(--header-padding-size, 2em);
  padding-top: 7em;
  background: white;
  transition: transform 300ms linear;
  transform: translateX(100%);
}
.nav-control {
  cursor: pointer;
  position: relative;
  z-index: 4;
}
.nav-control:focus {
  background: hsla(0deg, 100%, 50%, 0.3);
}
.nav__list:not(.nav__list:first-child) {
  padding-left: 3em;
}
.nav__list {
  display: flex;
  flex-direction: column;
  gap: 1.125em;
  padding-block: 1em;
}
.nav__item {
  color: var(--color-neutral-gray);
}
.nav__popup {
  cursor: pointer;
  position: relative;
}
.nav__popup::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1.5em;
  --size: 1em;
  margin-block: auto;
  transform: translateY(25%);
  width: var(--size);
  height: var(--size);
  background-repeat: no-repeat;
}

/*  Nav control section */
/* primary-nav toggle control */
.nav[data-active=true] {
  box-shadow: 0 0 0 100vw hsla(0deg, 0%, 0%, 0.8);
  transform: translateX(0%);
}
.nav[data-active=false] {
  transform: translateX(100%);
}
@media (min-width: 700px) {
  .nav {
    background-color: transparent;
    position: static;
    transition: initial;
    min-width: auto;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav[data-active] {
    box-shadow: none;
    transform: translateX(0) !important;
  }
  .nav-control {
    display: none;
  }
  .nav__item {
    position: relative;
  }
  .nav > .nav__list {
    position: static;
  }
  .nav__list {
    position: absolute;
    top: 100%;
  }
  .nav__list:not(.nav__list:first-child) {
    padding-left: 0em;
    display: none;
  }
  .nav__item:where(:hover, :focus-within) > .nav__popup ~ .nav__list {
    display: block;
  }
  .nav__list:first-child {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }
}

/* Navigation Submenu popup arrow button control */
.nav__popup[aria-expanded=true] > .nav__list {
  display: none;
}
.nav__popup[aria-expanded=false]::after {
  background-image: url("../../images/icon-arrow-down.svg");
}
.nav__popup[aria-expanded=true]::after {
  background-image: url("../../images/icon-arrow-up.svg");
}
@media (min-width: 700px) and (hover: hover) {
  .nav__popup {
    background: red;
  }
  .nav__popup[aria-expanded]::after {
    background-image: url("../../images/icon-arrow-down.svg");
  }
  .nav__popup[aria-expanded]:hover::after {
    background-image: url("../../images/icon-arrow-up.svg");
  }
}

.menu-close {
  display: block;
}

.menu-open {
  display: none;
}

/* Navigation Submenu popup button control */
.item-list-closed > .nav__list {
  display: none !important;
}
.item-list-closed > .menu-close {
  display: none;
}
.item-list-closed > .menu-open {
  display: block;
}

.login-control {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
@media (min-width: 700px) {
  .login-control {
    flex-direction: row;
    gap: 2rem;
    padding-top: 0;
  }
  .login-control > * {
    padding: 0;
  }
}/*# sourceMappingURL=main.css.map */