.overview {

  &__headline {
    margin: 2.75rem 0 1rem 0;
  }
  
  &__card-container {
    --repeat: auto-fit; /* Set max columns */
    display: grid;
    grid-template-columns: repeat(var(--repeat), minmax(200px, 1fr));
    gap: 2rem;
    margin: 0;
    padding: 0;
  }

  &__card {
    padding: 1.5em 2em;
    display: grid;
    gap: 1.75rem 0;
    justify-content: space-between;
    align-items: baseline;
    border-radius: var(--br);
    background: var(--clr-neutral-bg-card);
    transition: background-color 250ms linear;

    &:hover {
      background: var(--clr-card-hover);
    }
  }

  &__heading {
    font-size: 1rem;
    grid-row: 1 / 2;
    color: var(--clr-neutral-text-100);
  }

  &__img {
    justify-self: end;
    align-self: center;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  &__count {
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    font-size: 2rem;
  }

  &__percentage {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    color: var(--clr-primary-green);
  }

  @media (min-width: 1100px) {
    &__card-container {
      --repeat: 4;
    }
  }
}
