:root {
  /* Colors */
  --color-primary-blue-1: hsl(231, 69%, 60%);
  --color-primary-blue-2: hsl(0, 94%, 66%);

  --color-neutral-blue-1: hsl(229, 8%, 60%);
  --color-neutral-blue-2: hsl(229, 31%, 21%);
}




