.text-base {
  font-size: 1.125rem;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.grid {
  display: grid;
}

.grid-col {
  grid-auto-flow: column;
}

.block {
  display: block;
}

.justify-between	 {
  justify-content: space-between;
}

.content-center {
  align-content: center;
}

.items-center {
  align-items: center;
}
