:root {
/* Colors */
    /* Primary */
    --clr-primary-pink: hsl(322, 100%, 66%);
    --clr-primary-pink-light: hsl(321, 100%, 78%);
    --clr-primary-red: hsl(0, 100%, 63%);
    /* Neutral */
    --clr-neutral-cyan-dark: hsl(192, 100%, 9%);
    --clr-neutral-pale-blue: hsl(207, 100%, 98%);
/* Font families */
    --ff-poppins: 'Poppins', sans-serif; /* headings */
    --ff-open-sans: 'Open Sans', sans-serif;
/* Font size */
    /* --fnt-size: 0.6875rem; */
    --fnt-size: 0.7875rem;
/* Font weights */
    --fw-sm: 400;
    --fw-md: 600;
    --fw-lg: 700;
}

*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--ff-poppins);
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 90%;
}


.sec-flex {
    display: flex;
    flex-direction: column-reverse;
    gap: 4em;
}

.main {
    margin-top: 20vh;
}

.main__title {
    font-size: 1.75rem;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.stat--1 {
}

.stat--2 {
}

.stat__title {
    margin: 0 auto;
    margin-top: 2.2rem;
    display: inline-block;
    position: relative;
}

.stat__title::before {
    content: '';
    top: -25%;
    width: 50px;
    height: 50px;
    background-image: url("../images/icon-communities.svg");
    background-repeat: no-repeat;
    position: absolute;
}

.stat__img {
}

.kk__text {
}

.kk__text-2 {
}

.col {
    width: 100%;
}

.btn {
    display: inline-block;
    font-weight: var(--fw-lg);
    background-color: var(--clr-primary-pink);
    color: var(--clr-neutral-pale-blue);
    padding: 1.0em 2.5em;
    text-decoration: none;
    text-transform: capitalize;
}

.btn--rounded {
    border-radius: 1rem;
}

.btn-submit {
    border: none;
    width: 50%;
    align-self: flex-end;
    border-radius: 7px;
    cursor: pointer;
}

.sec-footer::before,
.sec--wave::before,
.sec--wave::after {
    content: '';
    position: absolute;
    margin: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 25%;
    height: 50vh;
    z-index: -1;
}


.input {
    background-color: #fff;
    border: none;
}

body {
    font-family: var(--ff-open-sans);
    font-size: var(--fnt-size);
    font-weight: var(--fw-sm);
    color: var(--clr-neutral-cyan-dark);
    padding: 0;
    text-align: center;
}

.main-nav {
    display: grid;
    gap: 30vw;
    grid-template-columns: 1fr 1fr;
    margin-top: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.main-nav__logo {
    display: block;
}

.main-nav__btn {
    display: block;
    color: var(--clr-primary-pink);
    justify-self: end;
    padding: .5em 2em;
    border: 1px solid var(--clr-primary-pink-light);
    border-radius: 2rem;
    text-decoration: none;
    text-transform: capitalize;
}

.main {
}

.main__info {
}

.main__title {
    font-family: var(--ff-poppins);
}

.main__text {
    max-width: 38ch;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 3em;
    line-height: 1.5;
}

.main__btn {
    margin-bottom: 5em;
}

.main__img {
    margin: 0 auto;
    margin-bottom: 4em;
}

.main__stat {
}

.stat__title {
    max-width: 5ch;
    font-size: 4rem;
}

.stat__text {
    font-size: 1.32em;
    opacity: .7;
}
    

.sec-flex {
}

.sec__img {
    max-height: 100vh;
}

.sec__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sec-footer {
    text-align: left;
}

.footer__social {
    margin-top: 3rem;
}

.sec {
    /* background-color: #F6FBFF; */
    position: relative;
    margin-top: 15rem;
}

.sec__text {
}

.sec--wave::after {
    left: 0;
    background-image: url("../images/bg-section-bottom-mobile-1.svg");
}

.sec-footer {
    font-family: var(--ff-open-sans);
    font-weight: var(--fw-lg);
    position: relative;
    background-color: var(--clr-neutral-cyan-dark);
    color: var(--clr-neutral-pale-blue);
}

.footer-flex {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    fill: white;
    background-repeat: no-repeat;
}

.sec-footer::before {
    top: -5rem;
    left: 0;
    background-image: url("../images/bg-footer-top-mobile.svg");
}

.sec--wave {
    background-color: #F6FBFF;
}

.footer__contact {
    margin: 4rem auto;
    order: 2;
}

.footer__newsletter {
    order: 1;
}

.footer__form {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.input {
    width: 100%;
    align-self: flex-end;
    border-radius: 7px;
    border: 1px solid blue;
}

.icon {
    background-repeat: no-repeat;
}

.footer__contact {
    margin: 2.5rem auto;
    padding: 0;
    list-style: none;
}

.contact__item {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}

.contact__img {
    margin-right: 10px;
}

.footer__social__link {
    display: inline-block;
}

.footer__social__link + .footer__social__link {
    margin-left: 1rem;
}

.footer__social__img {
    display: block;
}

.sec--wave::before {
    top: -5.2rem;
    left: 0;
    background-image: url("../images/bg-section-top-desktop-1.svg");
    background-size: 100% 16%;
}

.footer-container {
    width: min(85%, 90vw);
    margin: 0 auto;
}


@media (min-width: 400px) {
    .stats {
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .stat {
    }

    body {
        font-size: 1.125rem;
    }

    .sec-footer {
    }

    .footer-flex {
        flex-direction: row-reverse;
        align-content: space-evenly;
    }


    .footer__newsletter,
    .footer__contact {
        margin: 4rem auto;
        width: 100%;
    }
    .footer__form {
        flex-direction: row;
    }
    
}