.carousel {
  display: flex;
  flex-direction: column;
  --carousel-gap-size: .5rem;

  &__hero-container {
    padding-bottom: var(--carousel-gap-size);
  }
  
  &__image-container {
    display: none;


    @media (min-width: 500px) {
      display: grid;
      grid-auto-flow: column;
      gap: var(--carousel-gap-size);
    }
  }

  &__img {
    min-width: 115px;
    min-height: 65px;
  }
}
