html[data-theme="dark"] {
  --clr-neutral-bg: hsl(230, 17%, 14%);
  --clr-neutral-bg-top: hsl(232, 19%, 15%);
  --clr-neutral-bg-card: hsl(228, 28%, 20%);
  --clr-neutral-text-100: hsl(228, 34%, 66%);
  --clr-neutral-text-200: hsl(0, 0%, 100%);
}

