@use '../abstracts/breakpoints' as *;

.header {
  position: relative;
  background: hsl(var(--clr-primary-red-900) / 0.9);

  display: grid;
  grid-template-columns: var(--container-base-width) max-content 1fr max-content var(
      --container-base-width
    );

  padding-block: 1em;
  border: 3px solid red;
  font-family: var(--font-family-sans-3);
  font-weight: var(--font-weight-5);
  color: hsl(var(--clr-primary-blue));

  // @include media(400) {
  //   width: 100%;
  // }

  @media (min-width: 700px) {
    grid-template-columns: var(--container-base-width) min-content 1fr var(
        --container-base-width
      );
  }

  &__logo {
    align-self: center;
    grid-column: 2;

    @media (min-width: 700px) {
      padding-right: 1.5em;
      margin-right: 2em;
    }
  }

  &__container {
    --border-radius-nav: 5px;
    grid-column: 2 / 5;
    display: grid;
    align-items: center;

    padding-inline: var(--container-base-width);
    // border: 1px solid blue;
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 1em;

    max-height: 0vh;
    transition: max-height 500ms linear;
    background: hsl(var(--clr-neutral-100));

    overflow: hidden;
    text-align: center;

    border-radius: var(--border-radius-nav);

    @media (min-width: 700px) {
      grid-auto-flow: column;
      background: transparent;
      text-align: left;
      grid-column: 3;
      position: initial;
      padding-inline: 0;
      margin-top: 0;
      justify-content: space-between;
    }

    &[data-menu-active="false"] {
      max-height: 100vh;
    }

    &[data-menu-active="true"] {
      max-height: 0vh;

      @media (min-width: 700px) {
        max-height: 100%;
      }
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;

      @media (min-width: 700px) {
        flex-direction: row;
        gap: 1em;
      }
    }

    &-item {
      padding: 0.75em 1em;
    }

    &-link {
      padding: 1em 3em;

      @media (min-width: 700px) {
        padding: 0em 0.5em;
      }
    }
  }

  &__menu {
    grid-column: 4;
    padding: 1em 1em;
    // remove blue lign after click on link
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    background-image: url("../../images/icons/icon-hamburger.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 18px;
    width: 32px;
    cursor: pointer;

    @media (min-width: 700px) {
      display: none;
    }
  }

  &__btn-container {
    // padding-block: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.8em;

    @media (min-width: 700px) {
      flex-direction: row;
      gap: 3em;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0.6em 0 0 auto;
      height: 1px;
      background: hsl(var(--clr-neutral-200));

      @media (min-width: 700px) {
        display: none;
      }
    }
  }

  &__btn {
    &--login {
    }

    &--sing-up {
    }
  }
}

.dropdown {
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  max-height: 0;

  background: hsl(var(--clr-neutral-300) / 0.2);
  border-radius: var(--border-radius-nav);
  transition: max-height 300ms ease-out;
  
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  @media (min-width: 700px) {
    position: absolute;
    top: 100%;
    z-index: 4;
    background: white;
    opacity: 1;
  }

  &__item {
    --padding-size: 1em;
    padding-inline: 1.5em;
    &:first-of-type {
      padding-top: var(--padding-size);
    }

    &:last-of-type {
      padding-bottom: var(--padding-size);
    }

    &:hover {
      color: red;
    }

    @media (min-width: 700px) {
      // --padding-size: 0em;
    }
  }
}

.dropdown-button {
  display: block;
  position: relative;
  cursor: pointer;

  // Icon open/close dropdown menu
  &::after {
    content: "";
    position: absolute;
    inset: 0 auto 0 auto;
    width: 10px;
    height: 7px;
    margin-block: auto;
    margin-left: 0.3em;

    background-repeat: no-repeat;
    background-image: url("../../images/icons/icon-arrow-dark.svg");

    transition: transform 400ms ease;

    @media (min-width: 700px) {
      background-image: url("../../images/icons/icon-arrow-light.svg");
    }
  }

  &[data-active="true"] {
    opacity: 0.78;

    &::after {
      transform: scaleY(-1);
    }
  }
}
