@use "../abstracts/breakpoints" as *;

.header {
  position: relative;
  display: grid;
  grid-template-columns: var(--container-base-width) max-content 1fr max-content var(
      --container-base-width
    );

  padding-top: 3em;
  font-family: var(--font-family-sans-3);
  font-weight: var(--font-weight-5);
  color: hsl(var(--clr-primary-blue));

  @include media(700) {
    grid-template-columns: var(--container-base-width) min-content 1fr var(
        --container-base-width
      );
  }

  &__logo {
    align-self: center;
    grid-column: 2;

    @include media(700) {
      padding-right: 1.5em;
      margin-right: 2em;
    }
  }

  &__nav-container {
    box-shadow: 0 0 20px 10px hsl(var(--clr-primary-blue) / 0.2);

    --border-radius-nav: 5px;
    grid-column: 2 / 5;
    display: grid;
    align-items: center;

    padding-block: 1em;
    padding-inline: var(--container-base-width);
    position: absolute;
    top: 100%;
    width: 100%;
    margin-top: 1em;

    max-height: 0;
    transform: scaleY(0);
    transition: max-height 500ms linear;

    background: hsl(var(--clr-neutral-100));
    text-align: center;
    border-radius: var(--border-radius-nav);

    @include media(700) {
      box-shadow: none;
      grid-auto-flow: column;
      background: transparent;
      text-align: left;
      grid-column: 3;
      position: initial;
      padding-inline: 0;
      margin-top: 0;
      justify-content: space-between;
      // make menu visible
      max-height: 100vh;
      transform: scaleY(1);
    }

    &[data-menu-active="false"] {
      max-height: 0vh;
      transform: scaleY(0);
      @include media(700) {
        max-height: 100vh;
        transform: scaleY(1);
      }
    }

    &[data-menu-active="true"] {
      max-height: 100vh !important;
      transform: scaleY(1) !important;
      @include media(700) {
        max-height: 100%;
      }
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-direction: column;

      @include media(700) {
        flex-direction: row;
        // gap: 1em;
      }
    }

    &-item {
      padding: 0.75em 1em;
    }

    &-link {
      padding: 1em 3em;

      @include media(700) {
        padding: 0em 0.5em;
      }
    }
  }

  &__menu {
    grid-column: 4;
    padding: 1em 1em;
    // remove blue lign after click on link
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    background-image: url("../../images/icons/icon-hamburger.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 18px;
    width: 32px;
    cursor: pointer;

    @include media(700) {
      display: none;
    }
  }

  &__btn-container {
    // padding-block: 2em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include media(700) {
      flex-direction: row;
      // gap: clamp(1em, 1vw + 2em, 3em);
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0 0 0 auto;
      width: 100%;
      height: 1px;
      background: hsl(var(--clr-neutral-200));

      @include media(700) {
        width: 0;
      }
    }
  }

  &__btn {
    padding: 0.75em 2.25em;

    &--login {
      --background: transparent;
      --color: hsl(var(--clr-primary-blue));

      @include media(700) {
        --color: hsl(var(--clr-neutral-100));
      }
    }

    &--sign-up {
      --background: var(--gradient-red);

      @include media(700) {
        --color: hsl(var(--clr-primary-red-900));
        --background: hsl(var(--clr-neutral-100));

        &:hover {
          --color: hsl(var(--clr-neutral-100));
          --background: hsl(var(--clr-primary-red-800) / 0.25);
        }
      }
    }
  }
}
