.main {
  display: grid;
  grid-template-areas:
    "hero"
    "news"
    "articles";
  overflow: hidden;

  .hero {
    grid-area: hero;
  }

  .news {
    grid-area: news;
  }

  .article-wrapper {
    grid-area: articles;
  }

  @media (min-width: 700px) {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr auto;
    gap: 2rem 1.5rem;
    grid-template-areas:
      "hero news"
      "articles articles";
  }
}

.hero {
  display: flex;
  flex-direction: column;

  &__img-wrapper {
  }

  &__content {
    padding-block: 2em;
    display: grid;
    gap: 1rem;

    @media (min-width: 700px) {
      padding-bottom: 0;
      grid-auto-flow: column;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__heading {
  }

  &__text {
    max-width: 37ch;
  }

  &__link {
    padding: 0.5em 1.75em;
    display: inline-block;
    text-transform: uppercase;
    background: var(--text-primary-red);
    color: var(--text-neutral-gray-100);

    font-weight: 500;
    font-size: var(--font-size-sm);
    letter-spacing: 2px;
    transition: background-color 500ms ease;

    &:where(:hover, :focus) {
      background-color: var(--text-neutral-blue-800);
    }
  }
}

.news {
  padding-inline: 1em;
  padding-top: 1em;
  background: var(--text-neutral-blue-800);

  .articles {
    display: flex;
    flex-direction: column;

    &-wrapper + .articles-wrapper {
      padding-block: 2em;
      border-top: 1px solid var(--text-neutral-blue-700);
    }

    &-wrapper:first-of-type {
      padding-bottom: 2em;
      margin-top: 1em;
    }

    &-wrapper:last-of-type {
      padding-bottom: 0rem;
    }
  }

  .article {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .article__heading {
    color: var(--text-neutral-gray-100);
  }

  .article__text {
    color: var(--text-neutral-gray-200);
  }
}

.article:where(:hover, :focus) .article__heading {
  color: var(--text-primary-orange);
}

// novelty
.article-wrapper {
  display: grid;
  gap: 1rem;
  padding-block: 2em;

  @media (min-width: 700px) {
    grid-auto-flow: column;
  }
}

.novelty {
  display: flex;
  gap: 1em;
  align-items: start;

  &__ord {
    font-weight: var(--font-extrabold);
  }

  &:where(:hover, :focus) &__title {
    color: var(--text-primary-red);
  }

  &__img {
    max-height: 100px;
  }
}
