.main-nav--open {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.tracking-in-expand {
  animation: tracking-in-expand 500ms 800ms cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
