:root {
  --clr-primary-50: hsl(0, 0%, 100%);
  --clr-primary-100: hsl(0, 0%, 55%);
  --clr-primary-200: hsl(0, 0%, 41%);
  --clr-primary-900: hsl(0, 0%, 0%);

  --ff-alata: 'Alata', sans-serif;
  --ff-josefin: 'Josefin Sans', sans-serif;

  --fw-300: 300;
  --fw-400: 400;

  --fz: 0.9375rem;
}
