

.main {
    grid-area: main;
    text-align: center;
    margin-top: 15vh;

    &__headline {
        max-width: 14ch;
        color: var(--clr-primary-200);
        line-height: 1.1;
        font-size: 2.5rem;
        font-weight: var(--fw-lg);

        margin-bottom: 1.5rem;
    }

    &__text {
        max-width: 30ch;
        color: var(--clr-secondary-200);
    }

    @media (min-width: 800px) {
        justify-self: center;
        text-align: left;
    }
}