.wrapper {
  // max-width: calc(var(--max-width-page, 60rem) + 1rem);
  // margin-inline: clamp(1rem, 1rem + 6vw, 20rem);
  max-width: var(--max-width-page);
  padding-inline: 1.33rem;
  margin-inline: auto;
}

.logo {
  align-self: center;
}

.flow > * + * {
  margin-top: .4em;
}

.menu-open,
.menu-close {
  --size: 20px;
  height: var(--size);
  width: var(--size);
  align-self: center;;
}

.logo > * {
  max-width: 50px;
}

.block {
  display: block;
}

.grid {
  display: grid;
  gap: var(--gap, 1em);
}

.flex {
  display: flex;
  gap: var(--gap, 1em);
}

.flex-col {
  flex-direction: column;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-center {
  justify-content: center;
}

.align-self-start {
  align-self: start;
}

.align-self-center {
  align-self: center;
}




.text-primary-orange {
  color: var(--text-primary-orange);
}

.text-primary-red {
  color: var(--text-primary-red);
}

.text-neutral-gray-100 {
  color: var(--text-neutral-gray-100);
}

.text-neutral-gray-200 {
  color: var(--text-neutral-gray-200);
}

.text-neutral-blue-700 {
  color: var(--text-neutral-blue-700);
}

.text-neutral-blue-800 {
  color: var(--text-neutral-blue-800);
}

/* Font sizes */ 

.font-size-sm {
  font-size: var(--font-size-sm);
}

.font-size-base {
  font-size: var(--font-size-ba);
}

.font-size-md {
  font-size: var(--font-size-md);
}

.font-size-lg {
  font-size: var(--font-size-lg);
}

.font-size-xl {
  font-size: var(--font-size-xl);
}

.font-size-xxl {
  font-size: var(--font-size-xxl);
}


/* Font */
.font-normal {
  font-weight: var(--font-normal);
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-extrabold {
  font-weight: var(--font-extrabold);
}
