.card {
  display: grid;
  gap: 1rem;
  justify-items: center;
  text-align: center;

  &__img {
    margin-right: auto;
  }

  &__info {
  }

  &__heading {
    color: hsl(var(--clr-primary-dark));
    font-size: 1.65rem;
    font-weight: 700;
    padding-bottom: 0.2em;
  }

  &__text {
    color: hsl(var(--clr-primary-dark) / .4);
    font-weight: 400;
  }

  @media (min-width: 700px) {
    text-align: left;
  }
}
