.card {
  display: grid;
  gap: 2vw;
  justify-items: center;
  text-align: center;

  &__heading {
    color: hsl(var(--clr-primary-dark));
    font-size: var(--fz-400);

    font-weight: 400;
    padding-bottom: 0.2em;
  }

  &__text {
    font-size: var(--fz-100);
    font-weight: 400;
    color: hsl(var(--clr-primary-dark) / .7);
    max-width: 37ch;
  }

  @media (min-width: 700px) {
    justify-items: start;
    text-align: left;
  }
}
