.card {
  display: grid;
  gap: 2vw;
  justify-items: center;
  text-align: center;

  &__img {
    @media (min-width: 700px) {
      margin-right: auto;
    }
  }

  &__heading {
    color: hsl(var(--clr-primary-dark));
    font-size: var(--fz-400);

    font-weight: 400;
    padding-bottom: 0.2em;
  }

  &__text {
    font-size: var(--fz-100);
    color: hsl(var(--clr-primary-dark) / .4);
    font-weight: 400;
    max-width: 37ch;
  }

  @media (min-width: 700px) {
    text-align: left;
  }
}
