.feedback {
  overflow-x: hidden;
  text-align: center;

  &__heading {
    font-size: 2.1rem;
    margin-bottom: 6rem;
    color: var(--clr-primary-blue);
  }

  &__author {
    color: var(--clr-primary-blue);
    margin: 1rem 0;
  }

  &__icon {
    --icon-size: 70px;
    position: absolute;
    width: var(--icon-size);
    height: var(--icon-size);
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    transform: translateY(-50%);
  }

  &__card-container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 350ms ease-in;
  }
  //  the size of all flex items is larger than the flex container,
  //  <&__card> shrinks to 0
  &__card {
    position: relative;
    width: 100%;
    flex-shrink: 0;
    margin-top: 3rem;
    margin: 0 auto;
    padding: 2.25em 0em 1.5em 0em;

    background: var(--clr-neutral-white-0);
  }

  &__nav {
    margin-top: 1.25rem;
    padding: 1em 1em;
    display: flex;
    gap: 0.5rem;
    flex-direction: row;
    justify-content: center;
  }

  &__indicator {
    --size: 15px;

    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;

    width: var(--size);
    height: var(--size);
    border: 1px solid var(--clr-primary-red);
    border-radius: 50%;
  }

  .btn {
    margin-top: 3rem;
  }

  @media (min-width: 500px) {
    &__indicator {
      display: none;
    }
  }

  @media (min-width: 600px) {

    &__card-container {
      justify-content: center;
      gap: 3rem;
      transform: initial !important;
      transition: initial;
    }

    &__card:last-of-type {
      display: none;
      // max-width: 40ch;
    }

    &__card {
      max-width: 36%;
      margin: 0 auto;
      padding: 2em 2em;
      // justify-items: center;
      flex-shrink: 0;
    }
  }
}

.feedback__nav .current-slide {
  background: var(--clr-primary-red);
}
