.footer {
  position: relative;
  padding: 3.5em 0;
  color: var(--clr-neutral-white-0);
  background: var(--clr-neutral-black);

  &__grid {
    display: grid;
    justify-items: space-between;
    gap: 2.5rem;
    grid-template-areas:
      "formular"
      "navigation"
      "social"
      "logo"
      "copyr";
  }

  &__logo {
    grid-area: logo;
    justify-self: center;
  }

  &__social {
    grid-area: social;
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  &__nav {
    grid-area: navigation;
    padding: 0em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__list {
    list-style: none;
    padding: 0;
  }

  &__item {
    padding: 0.5em 0em;

    &:hover {
      color: var(--clr-primary-red);
    }
  }

  &__form {
    grid-area: formular;
    justify-self: center;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &__input {
    display: block;
    border: none;
    border-radius: 30px;

    &--set {
      padding: 1em 1em;
    }

    &--submit {
      padding: 1rem 2rem;
      background: var(--clr-primary-red);
      color: var(--clr-neutral-white-0);
      font-weight: 700;
    }
  }

  &__copyrights {
    grid-area: copyr;
    justify-self: center;
    color: var(--clr-neutral-blue-25);
  }

  @media (min-width: 400px) {
    &__nav {
      justify-content: space-around;
    }
  }

  @media (min-width: 700px) {
    &__grid {
      gap: 0rem;
      align-items: center;
      grid-template-areas:
        "formular navigation"
        "social   navigation"
        "logo     copyr";
    }

    &__nav {
      justify-content: space-between;
    }
  }

  @media (min-width: 960px) {
    &__grid {
      grid-template-areas:
        "logo   navigation formular"
        "social navigation copyr";
    }

    &__logo {
      justify-self: start;
    }

    &__social {
      justify-self: start;
    }

    &__form {
      justify-self: end;
    }

    &__copyrights {
      justify-self: end;
    }
  }
}
