.simplify {
  position: relative;
  z-index: 1;
  margin-top: 3rem;
  padding: 5em 0;
  text-align: center;

  background: var(--clr-primary-red);
  color: var(--clr-neutral-white-0);

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__heading {
    font-size: 2.35rem;
    line-height: 1.2;
    margin-bottom: 1em;
    max-width: 22ch;
  }

  .btn {
    align-self: center;
    color: var(--clr-primary-red);
    background: var(--clr-neutral-white-0);
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background: url("../images/bg-tablet-pattern.svg"),
      top 111% right -70% url("../images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    opacity: 0.1;
  }

  @media (min-width: 800px) {
    text-align: left;

    &__info {
      flex-direction: row;
      justify-content: space-between;
    }

    &__heading {
      margin: 0;
    }
  }
}
