@use "../abstracts/breakpoints" as *;


.dropdown {
  @include media(700) {
    &:hover &__list {
      max-height: 500px;
      transform: scaleY(1);
    }
  }

  &--open {
    animation-name: tgl;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
  
    @include media(700) {
      transform: scaleY(0);
      max-height: 0;
      animation: none;
    }
  }

  &__btn {
    display: block;
    position: relative;
    cursor: pointer;

    // open/close ICON dropdown menu
    &::after {
      cursor: inherit;
      content: "";
      position: absolute;
      inset: 0 auto 0 auto;
      width: 10px;
      height: 7px;
      margin-block: auto;
      margin-left: 0.3em;

      background-repeat: no-repeat;
      background-image: url("../../images/icons/icon-arrow-dark.svg");

      transition: transform 400ms ease;

      @include media(700) {
        background-image: url("../../images/icons/icon-arrow-light.svg");
      }
    }

    // open/close dropdown button - icon
    &:focus-within,
    &:hover {
      opacity: 0.58;

      &::after {
        transform: scaleY(-1);
      }
    }
  }

  &__list {
    position: relative;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.9em;
    // close dropdown
    max-height: 0;
    transform: scaleY(0);


    background: hsl(var(--clr-neutral-300) / 0.2);
    border-radius: var(--border-radius-nav);

    transition: max-height 500ms ease-out;

    opacity: 0.7;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    @include media(700) {
      position: absolute;
      top: 80%;
      z-index: 4;
      background: white;
      opacity: 1;
    }
  }

  &__item {
    --padding-size: 1em;
    padding-inline: 1.5em;
    &:first-of-type {
      padding-top: var(--padding-size);
    }

    &:last-of-type {
      padding-bottom: var(--padding-size);
    }

    &:hover {
      color: red;
    }
  }
}
