/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--gradient-dark-blue);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

ul[class] {
  list-style: none;
}

a[class] {
  color: inherit;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background: none;
  border: none;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* Colors */
  --clr-primary-red-900: 356 100% 66%;
  --clr-neutral-100: 0 0% 100%;
  --clr-neutral-200: 240 2% 79%;
  --clr-primary-red-800: 355 100% 74%;
  --clr-neutral-400: 240 10% 16%;
  --clr-primary-blue: 208 49% 24%;
  --clr-neutral-300: 207 13% 34%;
  /* Gradients */
  --gradient-red: linear-gradient(
    45deg,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%) 90%
  );
  --gradient-dark-blue: linear-gradient(
    45deg,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );
  /* Font settings */
  --font-family-serif: "DM Serif Display", serif;
  --font-family-sans-1: "Karla", sans-serif;
  --font-family-sans-2: "Overpass", sans-serif;
  --font-family-sans-3: "Ubuntu", sans-serif;
  --font-size-100: 0.87em;
  --font-size-200: 1rem;
  --font-size-300: 1.4rem;
  --font-size-900: clamp(2rem, 3.5vw, 3.5rem);
  --font-weight-3: 300;
  --font-weight-4: 400;
  --font-weight-5: 500;
  --font-weight-6: 600;
  --font-weight-7: 700;
  /* Container && padding width */
  --base-width: 90%;
  --container-base-width: calc((100% - var(--base-width)) / 2);
}

.btn {
  display: block;
  border-radius: var(--border-radius, 40px);
  color: var(--color, hsl(var(--clr-neutral-100)));
  background: var(--background, hsl(var(--clr-primary-red-900)));
  padding: 0.75em 2.5em;
  font-family: var(--font-family-sans-3);
  font-weight: 900;
  cursor: pointer;
}

.btn--white {
  --color: hsl(var(--clr-primary-red-900));
  --background: hsl(var(--clr-neutral-100));
}
.btn--white:hover {
  --color: hsl(var(--clr-neutral-100)) ;
  --background: hsl(var(--clr-primary-red-800) / .25);
}

.btn--red {
  border: 2px solid hsl(var(--clr-neutral-100));
}
.btn--red:hover {
  --color: hsl(var(--clr-primary-red-800));
  --background: hsl(var(--clr-neutral-100));
}

.btn--gradient-red {
  --background: var(--gradient-red);
}

.logo {
  display: block;
  height: 40px;
  width: 101px;
}

.header {
  position: relative;
  background: hsl(var(--clr-primary-red-900)/0.9);
  display: grid;
  grid-template-columns: var(--container-base-width) -webkit-max-content 1fr -webkit-max-content var(--container-base-width);
  grid-template-columns: var(--container-base-width) max-content 1fr max-content var(--container-base-width);
  padding-block: 1em;
  border: 3px solid red;
  font-family: var(--font-family-sans-3);
  font-weight: var(--font-weight-5);
  color: hsl(var(--clr-primary-blue));
}
@media (min-width: 700px) {
  .header {
    grid-template-columns: var(--container-base-width) -webkit-min-content 1fr var(--container-base-width);
    grid-template-columns: var(--container-base-width) min-content 1fr var(--container-base-width);
  }
}
.header__logo {
  align-self: center;
  grid-column: 2;
}
@media (min-width: 700px) {
  .header__logo {
    padding-right: 1.5em;
    margin-right: 2em;
  }
}
.header__container {
  --border-radius-nav: 5px;
  grid-column: 2/5;
  display: grid;
  align-items: center;
  padding-inline: var(--container-base-width);
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 1em;
  max-height: 0vh;
  transition: max-height 500ms linear;
  background: hsl(var(--clr-neutral-100));
  overflow: hidden;
  text-align: center;
  border-radius: var(--border-radius-nav);
}
@media (min-width: 700px) {
  .header__container {
    grid-auto-flow: column;
    background: transparent;
    text-align: left;
    grid-column: 3;
    position: initial;
    padding-inline: 0;
    margin-top: 0;
    justify-content: space-between;
  }
}
.header__container[data-menu-active=false] {
  max-height: 100vh;
}
.header__container[data-menu-active=true] {
  max-height: 0vh;
}
@media (min-width: 700px) {
  .header__container[data-menu-active=true] {
    max-height: 100%;
  }
}
.header__nav-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .header__nav-list {
    flex-direction: row;
    gap: 1em;
  }
}
.header__nav-item {
  padding: 0.75em 1em;
}
.header__nav-link {
  padding: 1em 3em;
}
@media (min-width: 700px) {
  .header__nav-link {
    padding: 0em 0.5em;
  }
}
.header__menu {
  grid-column: 4;
  padding: 1em 1em;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-image: url("../../images/icons/icon-hamburger.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 18px;
  width: 32px;
  cursor: pointer;
}
@media (min-width: 700px) {
  .header__menu {
    display: none;
  }
}
.header__btn-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
@media (min-width: 700px) {
  .header__btn-container {
    flex-direction: row;
    gap: 3em;
  }
}
.header__btn-container::before {
  content: "";
  position: absolute;
  inset: 0.6em 0 0 auto;
  height: 1px;
  background: hsl(var(--clr-neutral-200));
}
@media (min-width: 700px) {
  .header__btn-container::before {
    display: none;
  }
}
.dropdown {
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.9em;
  max-height: 0;
  background: hsl(var(--clr-neutral-300)/0.2);
  border-radius: var(--border-radius-nav);
  transition: max-height 300ms ease-out;
  opacity: 0.7;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
@media (min-width: 700px) {
  .dropdown {
    position: absolute;
    top: 100%;
    z-index: 4;
    background: white;
    opacity: 1;
  }
}
.dropdown__item {
  --padding-size: 1em;
  padding-inline: 1.5em;
}
.dropdown__item:first-of-type {
  padding-top: var(--padding-size);
}
.dropdown__item:last-of-type {
  padding-bottom: var(--padding-size);
}
.dropdown__item:hover {
  color: red;
}
.dropdown-button {
  display: block;
  position: relative;
  cursor: pointer;
}
.dropdown-button::after {
  content: "";
  position: absolute;
  inset: 0 auto 0 auto;
  width: 10px;
  height: 7px;
  margin-block: auto;
  margin-left: 0.3em;
  background-repeat: no-repeat;
  background-image: url("../../images/icons/icon-arrow-dark.svg");
  transition: transform 400ms ease;
}
@media (min-width: 700px) {
  .dropdown-button::after {
    background-image: url("../../images/icons/icon-arrow-light.svg");
  }
}
.dropdown-button[data-active=true] {
  opacity: 0.78;
}
.dropdown-button[data-active=true]::after {
  transform: scaleY(-1);
}

.text {
  margin-top: 2em;
  margin-left: 2em;
  color: hsl(var(--clr-neutral-100));
  font-family: var(--font-family-sans-2);
  font-size: var(--font-size-100);
  font-weight: var(--font-weight-3);
}

.main__heading {
  font-family: var(--font-family-sans-2);
  font-weight: var(--font-weight-6);
  font-size: var(--font-size-900);
  color: hsl(var(--clr-neutral-100));
}

.snd__heading {
  font-family: var(--font-family-sans-2);
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-6);
  color: hsl(var(--clr-primary-blue));
  line-height: 1.2;
}/*# sourceMappingURL=main.css.map */